
{% load static %}
{% load i18n %}


	<!-- Footer -->

	<footer class="footer">
		<div class="footer_item">
			<div class="footer_box">
				<h1 class="footer_title">Контакты</h1>
				<p class="footer_text">
					Главный корпус Общий отдел: +996 3222 7-22-73, <br> факс +996 3222 7-09-15,<br> edu@oshsu.kg
					</p>
			</div>
			<!-- <div class="footer_box">
				<h1 class="footer_title">Пресс-служба</h1>
				<p class="footer_text"><br> Е-mail:<br></p>
			</div> -->
			<div class="footer_box">
				<h1 class="footer_title">Приемная комиссия</h1>
				<p class="footer_text">Кыргызстан, 723500, г. Ош, <br> ул. Ленина, 331, ОшГУ Главный корпус <br>
					Приемная комиссия: +996 3222 7-08-18, <br>priem@oshsu.kg</p>
			</div>
		</div>
	</footer>

	<!-- Copyright -->

	<div class="copyright">
		<div class="container">
			<h3 class="copyright_title">Ошский государственный университет Официальный сайт
				НАУЧНАЯ БИБЛИОТЕКА</h3>
			<h4 class="copyright_text">©2023 OshSU</h4>
		</div>
	</div>
