
{% load static %}


	<!-- Footer -->

	<footer class="footer">
		<div class="footer_item">
			<div class="footer_box">
				<h1 class="footer_title">Контакты</h1>
				<p class="footer_text">Кыргызстан, 723500, г. <br> Ош,ул. Ленина, 331, ОшГУ Главный корпус <br> Общий
					отдел: +996 3222 2-22-73, <br> факс +996 3222 2-40-66, <br> oshsu.oms@gmail.com</p>
			</div>
			<div class="footer_box">
				<h1 class="footer_title">Пресс-служба</h1>
				<p class="footer_text">Нуралиева Зинагул Абдырашитовна <br> Е-mail: zinur11@mail.ru <br> 0(3222)
					2-04-87, 0770-37-94-98 <br> chechgpi@mail.ru</p>
			</div>
			<div class="footer_box">
				<h1 class="footer_title">Приемная комиссия</h1>
				<p class="footer_text">Кыргызстан, 723500, г. Ош, <br> ул. Ленина, 331, ОшГУ Главный корпус <br>
					Приемная комиссия: +996 3222 2-45-25, <br> oshsu.oms@gmail.com</p>
			</div>
		</div>
	</footer>

	<!-- Copyright -->

	<div class="copyright">
		<div class="container">
			<h3 class="copyright_title">Ошский государственный университет Официальный сайт
				НАУЧНАЯ БИБЛИОТЕКА</h3>
			<h4 class="copyright_text">©2022 OshSU</h4>
		</div>
	</div>
