	{% load static %}
	{% load i18n %}
	

	<nav class="menu_hamburger">
		<div class="menu_navbar">
		  <div class="menu_container menu_nav-container">
			  <input class="menu_checkbox" type="checkbox" name="" id="" />
			  <div class="menu_hamburger-lines">
				<span class="menu_line menu_line1"></span>
				<span class="menu_line menu_line2"></span>
				<span class="menu_line menu_line3"></span>
			  </div>  
			  <div class="menu_item">
				<h1 class="nav_title"><a href="{% url 'home' %}">{% trans 'Научная библиотека' %}</a></h1>
			</div>
			<div class="menu_logo">
				<img src="{% static 'img/logo_ru.svg' %}" alt="">
			</div>
			<div class="menu_menu-items">
				<li>
					<div class="menu_select">
					<a class="navbar_title" data-scroll="home" href="{% url 'home' %}" >{% trans 'Главная' %}</a>
				</div>
				</li>
				<li>
					<div class="menu_select">
						<a class="navbar_title" data-scroll="about_us" href="{% url 'about' %}" >{% trans 'О библиотеке' %}</a>
							<button class="caret"></button>
					</div>
					<ul class="navbar_sub">
						<li>
							<a class="navbar_title" data-scroll="mission" href="{% url 'about' %}#mission" >{% trans 'Миссия' %}</a>
						</li>
						<li>
							<a class="navbar_title" data-scroll="history" href="{% url 'about' %}#history">{% trans 'История' %}</a>
						</li>
						<li>
							<a class="navbar_title" data-scroll="structure" href="{% url 'about' %}#structure">{% trans 'Структура' %}</a>
						</li>
					</ul>
				</li>
				<li>
					<div class="menu_select">
					<a class="navbar_title" href="{% url 'catalogs' %}">{% trans 'Каталоги' %}</a>
					</div>
				</li>
				<li>	
					<div class="menu_select">
						<a class="navbar_title" href="{% url 'readers' %}">{% trans 'Читателям' %}</a>
							<button class="caret"></button>
					</div>
					<ul class="navbar_sub">
						<li>
							<a class="navbar_title" data-scroll="books" href="{% url 'readers' %}#books">{% trans 'Каталог книг' %}</a>
						</li>
						<li>
							<a class="navbar_title" data-scroll="direction" href="{% url 'readers' %}#direction">{% trans 'Правила пользования' %}</a>
						</li>
						 <!-- <li>
							<a class="navbar_title" data-scroll="reading_rooms" href="{% url 'readers' %}#reading_rooms">Читальные залы</a>
						</li>  -->
						<li>
							<a class="navbar_title" data-scroll="library_entry" href="{% url 'readers' %}#library_entry">{% trans 'Запись в библиотеку' %}</a>
						</li>
						<li>
							<a class="navbar_title" data-scroll="subscription" href="{% url 'readers' %}#subscription">{% trans 'Абонемент' %}</a>
						</li>
						<li>
							<a class="navbar_title" data-scroll="workSchedule" href="{% url 'readers' %}#workSchedule">{% trans 'Режим работы' %}</a>
						</li>
						<li>
							<a class="navbar_title" data-scroll="good_to_know" href="{% url 'readers' %}#good_to_know">{% trans 'Полезно знать' %}</a>
						</li>
					</ul>
				</li>
				 <li>
					<div class="menu_select">
					<a class="navbar_title" href="{% url 'forLibrarists' %}">{% trans 'Библиотекарям' %}</a>
				</div>

					 {% if request.user.is_staff %}
					<ul class="navbar_sub">
						<li>
							<a class="navbar_title" href="{% url 'register' %}">{% trans 'Регистрация' %}</a>
						</li>
						<li>
							<a class="navbar_title" href="{% url 'infoLib' %}">{% trans 'Информация о пользователи' %}</a>
						</li>
						<li>
							<a class="navbar_title" href="{% url 'login' %}">Логин</a>
						</li>
					</ul>
						{% endif %}
				</li>
				<li> 
					<div class="menu_select">
					<a class="navbar_title" href="{% url 'contact' %}">{% trans 'Как связаться' %}</a>
					</div>
				</li>

				{% if user.is_authenticated %}
				<li>
					<div class="menu_select">
					<p class="navbar_title">{% trans 'Привет' %}, {{request.user|title}}</p>
					</div>
				</li>
				{% endif %}
				
				{% if user.is_staff %}
				<li>
					<div class="menu_select">
					<a class="navbar_title" href="{% url 'logout' %}">{% trans 'Выйти' %}</a>
					</div>
				</li>
				{% endif %}
		
				
			</div>
		  </div>
		</div>
	  </nav>


<nav class="nav" id="nav">
	<ul class="navbar menu__box" id="menu">
		<li>
			<div class="select">
			<a class="navbar_title" data-scroll="home" href="{% url 'home' %}" >{% trans 'Главная' %}</a>
		</div>
		</li>
		<li>
			<div class="select">
				<a class="navbar_title" data-scroll="about_us" href="{% url 'about' %}" >{% trans 'О библиотеке' %}</a>
					<button class="caret"></button>
			</div>
			<ul class="navbar_sub">
				<li>
					<a class="navbar_title" data-scroll="mission" href="{% url 'about' %}#mission" >{% trans 'Миссия' %}</a>
				</li>
				<li>
					<a class="navbar_title" data-scroll="history" href="{% url 'about' %}#history">{% trans 'История' %}</a>
				</li>
				<li>
					<a class="navbar_title" data-scroll="structure" href="{% url 'about' %}#structure">{% trans 'Структура' %}</a>
				</li>
				<!-- <li>
					<a class="navbar_title" data-scroll="collection" href="{% url 'about' %}">Коллекция</a>
				</li>
				<li>
					<a class="navbar_title" data-scroll="vacancy" href="{% url 'about' %}">Ваканссия</a>
				</li>  -->
			</ul>
		</li>
		<li>
			<div class="select">
			<a class="navbar_title" href="{% url 'catalogs' %}">{% trans 'Каталоги' %}</a>
			</div>
		</li>
		<li>	
			<div class="select">
				<a class="navbar_title" href="{% url 'readers' %}">{% trans 'Читателям' %}</a>
					<button class="caret"></button>
			</div>
			<ul class="navbar_sub">
				<li>
					<a class="navbar_title" data-scroll="direction" href="{% url 'readers' %}#direction">{% trans 'Правила пользования' %}</a>
				</li>
				<li>
					<a class="navbar_title" data-scroll="books" href="{% url 'readers' %}#books">{% trans 'Книги' %}</a>
				</li>
				<li>
					<a class="navbar_title" data-scroll="workSchedule" href="{% url 'readers' %}#workSchedule">{% trans 'Режим работы' %}</a>
				</li>
				<li>
					<a class="navbar_title" data-scroll="good_to_know" href="{% url 'readers' %}#good_to_know">{% trans 'Полезно знать' %}</a>
				</li>
			</ul>
		</li>
		 <li>
			<div class="select">
			<a class="navbar_title" href="{% url 'forLibrarists' %}">{% trans 'Библиотекарям' %}</a>
		</div>
			 {% if request.user.is_staff %}
			<ul class="navbar_sub">
				<li>
					<a class="navbar_title" href="{% url 'register' %}">{% trans 'Регистрация' %}</a>
				</li>
				<li>
					<a class="navbar_title" href="{% url 'infoLib' %}">{% trans 'Информация о пользователи' %}</a>
				</li>
				<li>
					<a class="navbar_title" href="{% url 'login' %}">Логин</a>
				</li>
			</ul>
			 {% endif %}

		</li>
		<li> 
			<div class="select">
			<a class="navbar_title" href="{% url 'contact' %}">{% trans 'Как связаться' %}</a>
			</div>
		</li>
		{% if user.is_staff %}
		<li>
			<div class="select">
			<a class="navbar_title" href="{% url 'logout' %}">Выйти</a>
			</div>
		</li>
		{% endif %}
		{% if user.is_authenticated %}
		<li>
			<div class="select">
			<p class="navbar_title">{% trans 'Привет' %}, {{request.user|title}}</p>
			</div>
		</li>
		{% endif %}

		<li>
			<div class="select">
					{% get_current_language as CURRENT_LANGUAGE %}
					{% get_available_languages as AVAILABLE_LANGUAGES %}
					{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
				<div class="navbar_title navbar_language">
						{% for language in languages %}
							<a href="/{{ language.code }}/"
							  {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
							  {{ language.code }}
							  <!-- <img src="{% static 'img/language/lang__ky.png' %}" alt="ky">
							  <img src="{% static 'img/language/lang__ru.png' %}" alt="ru"> -->
							</a>
						{% endfor %}
				</div>
			</div>
		</li>

	</ul>
</nav>



	<header class="header">
		<div class="nav_logo">
			<div class="nav_box">
				<div class="nav_item"><a href="{% url 'home' %}">
					<img class="logo" src="{% static 'img/logo_ru.svg' %}" alt="">
				</a>
				</div>

				<div class="nav_item">
					<h1 class="nav_title"><a href="{% url 'home' %}">{% trans 'Научная библиотека' %}</a></h1>
				</div>
			</div>
				
		</div>
	</header>

	
	<script src="{% static '/js/app.js' %}"></script>

	