{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



	<div class="sec-container">
		<div class="direction">
			<h1 class="direction_title">Правила пользования</h1>
			<div class="direction_img">
			<img src="{% static 'img/direction/1jpg.jpg' %}" alt="">
			</div>
			<div class="direction_text">
				<h2 class="direction_title">Читатели и их права</h2>
				<p>Читатели библиотеки (студенты, профессорско-преподавательский состав, научные работники, аспиранты и прочие сотрудники ОшГУ) имеют право бесплатно пользоваться основными видами библиотечно-информационных услуг: 
					</p> 
					<p>
					Слушатели факультета повышения квалификации врачей, клинические ординаторы, аспиранты имеют право бесплатного пользования фондами библиотеки только в читальных залах с разрешением руководителя НБ на основе удостоверение личности.</p>
					<p>
					Получать полную информацию о составе фондов библиотеки через систему каталогов и картотек и другие формы библиотечного информирования.</p>
					<p>
					Получать консультационную помощь в поиске и выборе произведений печати и других документов; Продлевать срок пользования литературой.</p>
					<p>
					Читатели университета имеет право пользоваться все факультетских залах</p>
					<p>
					Получать из фонда библиотеки для временного пользования в читальных залах и на абонементах любые издания, неопубликованные материалы.</p>

				<h2 class="direction_title">Обязанности читателей</h2>
				<p>Читатели обязаны бережно относиться к книгам, другим произведениям печати и иным материалам, полученным из фондов библиотеки, возвращать их в установленные сроки (срок возврата можно уточнить в электронном читательском формуляре), не выносить их из помещения библиотеки, если они не записаны в читательском формуляре, не делать в них пометок, подчеркиваний, не вырывать и не загибать страницы. </p>
					<p>
					При получении книг, других произведений печати и иных материалов читатели должны тщательно просмотреть их и в случае обнаружения каких-либо дефектов сообщить об этом библиотекарю. В противном случае, ответственность за порчу книг несет читатель, пользовавшийся изданием последним.</p>
					<p>
					Читатели обязаны бережно обращаться с читательским билетом. Категорически запрещается передавать читательский билет другому лицу, а также пользоваться чужим читательским билетом. В случае нарушения этого правила читатели могут быть лишены права пользования библиотекой на срок, установленный администрацией библиотеки. </p>
					<p>
					Ежегодно читатели обязаны перерегистрировать читательские билеты с предоставлением всей числящейся за ними литературы в установленные сроки. Читатели, не прошедшие перерегистрацию, в библиотеке не обслуживаются. </p>
					<p>
					При выбытии из университета (академический отпуск, отчисление) читатели обязаны вернуть в библиотеку числящиеся за ними издания и сдать читательские билеты, подписать обходной лист.</p>

				<h3 class="direction_title">Внимание!</h3>	
				<p>Студенты, имеющие задолженность перед библиотекой на окончание семестра, к сессии не допускаются! При повторной сдаче экзамена или зачета студент обязан продлить выданную литературу.</p>
			</div>
		</div>
	</div>




{% include 'footer.html' %}

{% endblock %}
