{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">


<div class="sec-container">
	<div class="subscription">
		<h1>Абонемент</h1>
		<div class="subscription_img">
			<img src="{% static 'img/subscription/1.jpg' %}" alt="">
			</div>
		    <p>Абонементтен пайдалануу эрежеси</p>
			<p>Абонементте илимий адабияттар 2 айлык мөөнөт менен төмөнкү санда берилет:</p>
			<ul>
				<li><p>Профессордук-окутуучу курамга, аспиранттарга, магистранттарга, докторанттарга,илимий кызматкерлерге, студент диплом жазуучуларга – 20 даанага чейин</p></li>
				<li><p>Башка категориядагы окурмандарга - 10 даанага чейин.</p></li>
			</ul>
			<p>Окуу программасынын негизинде окуу адабияттары бир семестрге же бир окуу жылына берилет.</p>
			<p>Көркөм адабияттар жана мезгилдик басылмалар 5 даанадан 15 күндүк мөөнөткө берилет.</p>
			<p>Филология жана журналистика факултетинин окурмандарына көркөм адабияттар 10 даанага чейин берилет.</p>
			<p>Окурмандар колдонуп жаткан адабияттардын мөөнөтүн узартууга болот, эгерде ал адабиятка суроо-талап жок болсо.</p>
			<p>Баалуу жана таңкыс китептер үйгө берилбейт.</p>
			<p>Жарыяланбаган материалдар (диссертациялар, фонодокументтер ж.б.), чектелген адабияттар белгиленген тартипте берилет.</p>
			<p>Жайкы эс алуу мезгилинде окурмандар алган китептерин китепканага белгиленген тартипте тапшырууга милдеттүү.</p>
			
	</div>
</div>

{% include 'footer.html' %}

{% endblock %}
