body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.hamburger {
  display: none;
}

/* HEADER */
.nav_logo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.nav_box {
  width: 100%;
  padding: 30px;
}

.nav_item {
  position: relative;
  text-align: center;
  color: #3769B0;
}

.logo {
  position: absolute;
  top: 0;
  left: 8%;
  z-index: 1;
  width: 240px;
}

.nav_title {
  font-size: 54px;
  padding-bottom: 10px;
}

.nav_title a {
  text-decoration: none;
  color: #3769B0;
}

.nav_text {
  font-size: 18px;
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 0 0 20px;
  align-items: center;
}

.navbar {
  transition: 0.4s linear;
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #999;
  padding: 30px;
}

.navbar li {
  list-style: none;
}

.navbar_title {
  padding-right: 10px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.2s linear;
  position: relative;
}

.navbar_title::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  right: 0;
  border: rotate(90deg) 1px solid #000;
  border: rotate(-90deg) 1px solid #000;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}

.navbar_title:hover {
  color: #309AAC;
}

.navbar_sub {
  width: 15%;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 5px 5px 7px #333, -5px -5px 7px #333;
  position: absolute;
  z-index: 10;
  padding: 5px 0 0;
  display: none;
  text-align: center;
}

.navbar_sub li {
  padding: 5px 0;
  border-bottom: 1px solid #333;
}

.navbar li:hover .navbar_sub {
  display: block;
}

.sticky {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #EBECF0;
  width: 100%;
  transition: 0.4s linear;
  box-shadow: -5px -5px 20px #333, 5px 5px 20px #333;
}

.sticky .navbar {
  border: none;
  padding: 20px;
}

.sticky .navbar_title:hover {
  color: #84C87D;
}

.select {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #333;
  transition: 0.3s;
}

/* FOOTER */
.footer {
  padding: 20px;
  width: 100%;
  background-color: #EDEBEB;
}

.footer_item {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.footer_box {
  margin-top: 20px;
  margin-right: 15px;
}

.footer_title {
  color: #309AAC;
  font-size: 24px;
  text-transform: uppercase;
  padding: 15px;
}

.footer_text {
  padding: 10px;
  font-size: 16px;
  line-height: 1.5em;
}

/* COPYRIGHT */
.copyright {
  background-color: #333;
  text-align: center;
  padding: 20px;
}

.copyright_title {
  color: #fff;
  font-size: 14px;
}

.copyright_text {
  color: #999;
  font-size: 16px;
}

span {
  color: #000;
  font-weight: bold;
}

.img_bg {
  content: "";
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  opacity: 0;
  transition: 0.3s all ease;
}

.bg {
  background: #EBECF0;
}

.sec-container {
  width: 87%;
  margin: 0 auto;
}

/* ABOUT */
.about {
  margin: 50px 0 100px;
}
.about .about_title {
  color: #309AAC;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.about .about_text {
  font-size: 18px;
  padding: 15px;
}

/* NEWS & ADT */
.news {
  width: 90%;
  margin: 50px auto 100px;
}

.news_inner {
  width: 100%;
  display: flex;
}

.news_item {
  width: 100%;
}

.news_title {
  text-align: center;
  color: #309AAC;
  padding: 30px;
  font-weight: 600;
  width: 100%;
}

.news_box {
  display: flex;
  flex-wrap: wrap;
}

.news_view {
  margin: 50px 20px 10px 20px;
  width: 400px;
  height: 300px;
}

.news_info {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.news-info {
  box-shadow: -5px -5px 20px #333, 5px 5px 20px #333;
  border-radius: 20px;
  background-color: #fff;
  width: 70%;
  height: auto;
  padding: 10px 20px;
  position: relative;
  margin: 20px 0;
}

.news_info a {
  text-decoration: none;
  color: #000;
}

.news_img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: 0.3s all linear;
}

.news_img:hover {
  scale: 1.1;
}

.news_img-info {
  width: 42px;
}

.news_content a {
  text-decoration: none;
  color: #000;
}

.news_text p {
  padding: 10px;
}

.news_index {
  padding: 10px;
  color: #666;
}

.news_logo {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 5px;
}

.news_logo p {
  padding: 5px;
}

.news_only {
  width: 100%;
  margin: 50px 0 100px;
}

.news_box-only {
  width: 100%;
  display: flex;
}

.news_block-1 {
  width: 70%;
}

.news_block-2 {
  width: 30%;
}

.news_block-only {
  width: 95%;
}

.news_img-only {
  width: 100%;
}

.news_title-only {
  font-weight: 500;
  font-size: 20px;
  padding: 0 0 15px;
}

.news_index-only {
  padding: 20px 0;
  color: #666;
}

.news_several {
  width: 100%;
  height: 280px;
  border-radius: 10px;
  margin: 0 0 25px;
}

.news_in-only {
  width: 100%;
  height: 210px;
}

.news_hidden-only {
  overflow: hidden;
}

.news_img-only2 {
  width: 100%;
  height: 100%;
}

.news_index-only2 {
  padding: 5px;
  color: #666;
}

.news_text a {
  text-decoration: none;
  color: #000;
}

.news_text p {
  padding: 5px;
}

.catalog {
  width: 100%;
}
.catalog .catalog_title {
  color: #309AAC;
  text-align: center;
  padding: 20px;
}
.catalog .catalog_text {
  padding: 15px;
  font-size: 17px;
}
.catalog .catalog_box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}
.catalog .catalog_img {
  border-radius: 12px;
  width: 500px;
}
.catalog .catalog_box .catalog_img {
  height: 400px;
}
.catalog .catalog_link a {
  text-decoration: none;
  color: #333;
  transition: 0.3s linear;
}
.catalog .catalog_link a:hover {
  color: #309AAC;
}
.catalog ul {
  padding: 0 20px;
}
.catalog ul li {
  padding: 10px 0 20px;
  font-weight: 600;
}
.catalog a {
  text-decoration: none;
  color: rgba(13, 58, 155, 0.6901960784);
  font-size: 18px;
  padding-top: 10px;
}
.catalog .catalog_irbis {
  text-align: center;
  padding-bottom: 10px;
}

.catalog-irbis {
  padding-bottom: 100px;
}

.contact {
  margin: 50px 0 100px;
}
.contact .map {
  margin-bottom: 100px;
}
.contact h1 {
  text-align: center;
  color: #309AAC;
  padding: 50px;
}
.contact .contact_text {
  font-size: 18px;
  color: #000;
}
.contact .contact_box tr {
  margin: 20px;
}
.contact .contact_box th {
  width: 300px;
  padding: 10px 40px;
}

.direction {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.direction .direction_title {
  color: #309AAC;
  text-align: center;
  padding: 30px;
}
.direction .direction_img {
  width: 500px;
  margin: 0 auto;
}
.direction img {
  width: 500px;
}
.direction p {
  font-size: 16px;
  padding: 15px;
}

.good_know {
  text-align: center;
  margin: 50px auto 100px;
  width: 70%;
}
.good_know .good_title {
  padding: 20px;
  color: #309AAC;
}
.good_know td {
  border-bottom: 1px solid #000;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.history {
  margin: 50px 0 100px;
}
.history h1 {
  text-align: center;
  color: #309AAC;
  padding: 20px;
}
.history p {
  font-size: 18px;
}
.history .history_img {
  width: 500px;
  margin: 10px auto;
}
.history .history_img p {
  padding: 150px 0;
}
.history img {
  width: 500px;
}
.history .history_box {
  display: flex;
  justify-content: space-around;
}

.library_entry {
  margin: 50px auto 100px;
}
.library_entry .library_entry-title {
  margin: 0 auto;
  text-align: center;
  width: 400px;
  padding: 20px;
}
.library_entry .library_entry-title h1 {
  padding: 20px;
  color: #309AAC;
}
.library_entry .library_entry-title img {
  width: 100%;
}
.library_entry p {
  font-size: 18px;
}
.library_entry ul {
  font-size: 18px;
  padding: 15px;
}
.library_entry ul li {
  padding: 10px;
}
.library_entry h3 {
  text-align: center;
}

.mission {
  margin: 50px auto 100px;
}
.mission .mission_title {
  padding: 20px;
  text-align: center;
  color: #309AAC;
}
.mission p {
  font-size: 18px;
  color: #333;
}

.photo_title {
  width: 100%;
  text-align: center;
  color: #309AAC;
  padding: 30px;
}

.photo {
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.photo .photo_inner {
  width: 400px;
  height: 250px;
  margin: 30px 20px;
}
.photo .photo_item {
  width: 400px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}
.photo .photo_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
  position: relative;
}
.photo .photo_img:hover {
  scale: 1.1;
}
.photo .photo_item:hover .photo_img::before {
  opacity: 0.3;
  visibility: visible;
}
.photo .photo_img::before {
  content: "";
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  opacity: 0;
  transition: 0.3s all ease;
}
.photo .photo_index {
  padding: 10px;
  color: #666;
}
.photo h2 {
  font-size: 18px;
  padding: 0 10px;
}

.photo_only {
  margin: 50px 0 100px;
}
.photo_only .photo_block-only {
  display: flex;
  width: 100%;
}
.photo_only .photo_inner-only {
  width: 80%;
}
.photo_only .photo_inner-only2 {
  width: 20%;
}
.photo_only .photo_box-only {
  width: 90%;
}
.photo_only .photo_img-only {
  width: 100%;
  height: 400px;
}
.photo_only .photo_index-only {
  color: #666;
}
.photo_only .photo_content-only h2 {
  padding: 10px 0;
}
.photo_only .photo_content-only p {
  padding: 10px 0;
}

.video {
  margin: 0 0 100px;
}
.video .video_title {
  color: #309AAC;
  padding: 30px;
  text-align: center;
}
.video .video_inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.video .video_box {
  margin: 5px 20px 50px;
  width: 400px;
  height: 300px;
}
.video .video_item {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.video .video_img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s linear;
  position: relative;
}
.video .video_img:hover {
  scale: 1.1;
}
.video .video_img:hover .img_bg {
  opacity: 0.3;
}
.video .video_index {
  color: #666;
  padding: 10px 0;
}
.video a {
  text-decoration: none;
}
.video h2 {
  color: #000;
  font-size: 17px;
}

.workSchedule {
  margin-top: 50px;
  margin-bottom: 100px;
}
.workSchedule h1 {
  text-align: center;
  color: #309AAC;
  padding: 30px;
}
.workSchedule img {
  width: 100%;
}

.subscription {
  margin-top: 50px;
  margin-bottom: 100px;
}
.subscription h1 {
  color: #309AAC;
  padding: 30px;
  text-align: center;
}
.subscription .subscription_img {
  margin: 20px auto;
  width: 60%;
}
.subscription .subscription_img img {
  width: 100%;
}

@media (max-width: 1450px) {
  .logo {
    left: 5%;
    width: 220px;
  }
  .news_inner {
    flex-wrap: wrap;
  }
  .news_item {
    width: 100%;
  }
  .news_hidden {
    display: none;
  }
  .form {
    width: 100%;
  }
  .form_logo {
    width: 40%;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 70%;
  }
  .nav_title {
    font-size: 40px;
  }
  .logo {
    left: 1%;
    width: 180px;
  }
  .navbar_title {
    font-size: 14px;
  }
  .news_title, .info_title, .partner_title {
    font-size: 24px;
  }
  .news_info {
    width: 280px;
    height: 200px;
  }
  .news_text p, .news_text-info, .news_index {
    font-size: 14px;
  }
  .footer_title {
    font-size: 20px;
  }
  .footer_text {
    font-size: 14px;
  }
  .partner_inner {
    padding: 10px;
  }
  .partner_item {
    width: 270px;
  }
  .partner_item img {
    height: 100px;
  }
  .history_box {
    flex-wrap: wrap;
    padding: 20px;
  }
  .his {
    width: 100% !important;
  }
  .history_img {
    width: 100% !important;
  }
  .history_img img {
    width: 50%;
  }
  .history_img p {
    padding: 0 !important;
  }
  .catalog_img, .direction_img, .library_entry-title, .library_entry-title img, .direction_img img {
    width: 100% !important;
    height: auto !important;
  }
  .good_know, .good {
    display: none;
  }
}
@media (max-width: 1000px) {
  tr {
    display: flex;
    flex-wrap: wrap;
  }
  tr td {
    width: 100%;
    text-align: center;
  }
  .nav_box {
    padding: 10px;
  }
  .logo {
    left: 0;
    width: 140px;
  }
  .nav_title {
    font-size: 28px;
  }
  .navbar_title {
    font-size: 12px;
  }
  .news_info {
    width: 220px;
    height: 160px;
  }
  .partner_item {
    width: 250px;
  }
  .partner_item img {
    height: 80px;
  }
}
@media (max-width: 900px) {
  .footer_item {
    flex-wrap: wrap;
  }
}
@media (max-width: 850px) {
  .navbar_sub {
    width: 100%;
  }
  .nav, .logo {
    display: none;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 3000;
    flex-wrap: wrap;
  }
  .navbar {
    flex-direction: column;
    border: none;
  }
  .navbar li {
    padding: 10px;
  }
  /* hamburger */
  .hamburger {
    display: block;
  }
  .checkbox {
    display: none;
  }
  .button {
    position: relative;
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 4vh;
    right: 4vw;
    z-index: 2000;
    box-shadow: 0 1rem 3rem black;
    text-align: center;
    cursor: pointer;
  }
  .background {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5vh;
    right: 4.5vw;
    background-image: radial-gradient(#666, #fff);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .checkbox:checked ~ .background {
    transform: scale(80);
  }
  .checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
    right: 0;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icon,
.icon::before,
.icon::after {
    width: 1em;
    height: 2px;
    background-color: gray;
    display: inline-block;
  }
  .icon::before,
.icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .icon::before {
    top: -0.4rem;
  }
  .icon::after {
    top: 0.4rem;
  }
  .button:hover icon:before {
    top: -1rem;
  }
  .button:hover icon::after {
    top: 1rem;
  }
  .checkbox:checked + .button .icon {
    background-color: transparent;
  }
  .checkbox:checked + .button .icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .checkbox:checked + .button .icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  .news_title, .info_title, .partner_title {
    font-size: 20px;
  }
  .news_text p, .news_text-info, .news_index {
    font-size: 10px;
  }
  .partner_item {
    width: 240px;
  }
}
@media (max-width: 720px) {
  .news_hidden {
    display: block;
  }
}
@media (max-width: 650px) {
  .info_grand {
    width: 100%;
  }
  .info_grand-line {
    border: none;
  }
  .info_inner {
    flex: none;
  }
  .footer_box {
    width: 100%;
  }
  .copyright_title {
    font-size: 12px;
  }
  .copyright_text {
    font-size: 14px;
  }
  .form {
    height: 80%;
  }
  .form_logo {
    width: 60%;
  }
}
@media (max-width: 520px) {
  .news_title, .info_title, .partner_title {
    font-size: 28px;
  }
  .news_box {
    display: block;
  }
  .news_info {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 300px;
  }
  .news-info {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .news_index {
    margin-right: 20px;
  }
  .partner_item {
    width: 100%;
  }
  .partner_item img {
    height: 150px;
  }
}

/*# sourceMappingURL=secondStyle.css.map */
