body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.hamburger {
  display: none;
}

/* HEADER */
.nav_logo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.nav_box {
  width: 100%;
  padding: 30px;
}

.nav_item {
  position: relative;
  text-align: center;
  color: #3769B0;
}

.logo {
  position: absolute;
  top: 0;
  left: 8%;
  z-index: 1;
  width: 240px;
}

.nav_title {
  font-size: 54px;
  padding-bottom: 10px;
}

.nav_title a {
  text-decoration: none;
  color: #3769B0;
}

.nav_text {
  font-size: 18px;
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 0 0 20px;
  align-items: center;
}

.navbar {
  transition: 0.4s linear;
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #999;
  padding: 30px;
}

.navbar li {
  list-style: none;
}

.navbar_title {
  padding-right: 10px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.2s linear;
  position: relative;
}

.navbar_title:hover {
  color: #309AAC;
}

.navbar_sub {
  width: 15%;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 5px 5px 7px #333, -5px -5px 7px #333;
  position: absolute;
  z-index: 10;
  padding: 5px 0 0;
  display: none;
  text-align: center;
}

.navbar_sub li {
  padding: 5px 0;
  border-bottom: 1px solid #333;
}

.navbar li:hover .navbar_sub {
  display: block;
}

.sticky {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #EBECF0;
  width: 100%;
  transition: 0.4s linear;
  box-shadow: -5px -5px 20px #333, 5px 5px 20px #333;
}

.sticky .navbar {
  border: none;
  padding: 25px;
}

.sticky .navbar_title:hover {
  color: #84C87D;
}

.select {
  position: bottom;
  align-items: center;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #333;
  transition: 0.3s;
}

/* FOOTER */
.footer {
  padding: 20px;
  width: 100%;
  background-color: #EDEBEB;
}

.footer_item {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.footer_box {
  margin-top: 20px;
  margin-right: 15px;
}

.footer_title {
  color: #309AAC;
  font-size: 24px;
  text-transform: uppercase;
  padding: 15px;
}

.footer_text {
  padding: 10px;
  font-size: 16px;
  line-height: 1.5em;
}

/* COPYRIGHT */
.copyright {
  background-color: #333;
  text-align: center;
  padding: 20px;
}

.copyright_title {
  color: #fff;
  font-size: 14px;
}

.copyright_text {
  color: #999;
  font-size: 16px;
}

/* NEWS */
.news {
  width: 87%;
  margin: 0 auto;
}

.news_inner {
  width: 100%;
  display: flex;
}

.news_item {
  width: 80%;
}

.news_item-2 {
  width: 25%;
}

.news_name {
  text-align: center;
  padding: 30px;
  font-weight: 600;
  width: 100%;
  color: #309AAC;
}

.news_name a {
  text-decoration: none;
  color: #309AAC;
}

.news_box {
  display: flex;
  flex-wrap: wrap;
}

.news_box a {
  text-decoration: none;
  color: #000;
}

.news_view {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px 0 20px;
}

.news_views {
  width: 100%;
  position: relative;
  height: auto;
  border: 1px solid #dee2e6;
  margin: 10px 0;
}

.news_views:hover {
  box-shadow: 2px 3px 2px #dee2e6, -2px 3px 2px #dee2e6;
}

.news_views a {
  width: 100%;
  display: flex;
}

.news_info {
  margin: 10px;
  width: 100px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
}

.news-info {
  margin: 10px 0;
  border: 1px solid #dee2e6;
  border-radius: 20px;
  width: 320px;
  height: auto;
}

.news-info:hover {
  box-shadow: -2px -3px 3px #dee2e6, 2px 3px 3px #dee2e6, -2px 3px 3px #dee2e6, 2px -3px 3px #dee2e6;
}

.news_info a {
  text-decoration: none;
  color: #000;
}

.news_info2 {
  width: 230px;
}

.news_img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: 0.3s all linear;
}

.news_img-info {
  width: 42px;
}

.news_img:hover {
  scale: 1.1;
}

.news_title {
  font-size: 14px;
}

.news_title p {
  padding: 15px 5px 0 5px;
}

.news_text-info {
  text-align: center;
}

.news_index {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding: 10px;
  color: #666;
  font-size: 14px;
}

.news_index-info {
  padding: 10px;
  color: #666;
  font-size: 14px;
  text-align: end;
}

.news_logo {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px;
}

.news_logo p {
  padding: 5px;
}

.news_view-home {
  width: 60%;
}

.news_views-home {
  overflow: hidden;
}

.news_info-home {
  position: relative;
  width: 100%;
  height: 410px;
}

.news_title-home {
  font-size: 20px;
  font-weight: 500;
}

.news_text-home {
  margin: 20px 0;
}

.news_index-home {
  padding: 10px;
  color: #666;
}

/* INFO */
.info {
  background-color: #F0F4F8;
  padding: 60px 0;
}

.info_title {
  color: #309AAC;
  width: 100%;
  text-align: center;
  margin: 20px 0 40px;
}

.info_title a {
  text-decoration: none;
  color: #309AAC;
}

.info_inner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.info_grand {
  padding: 20px 0;
  width: 50%;
}

.info_grand-line {
  border-right: 1px solid #333;
}

.info_item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info_box {
  margin: 10px;
}

.info_bg {
  width: 200px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.info_box a {
  text-decoration: none;
}

.info_box img {
  width: 200px;
  height: 150px;
  transition: 0.4s all linear;
}

.info_player {
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 1;
  width: 50% !important;
  height: 50% !important;
}

.info_box:hover img {
  transform: scale(1.1);
}

.info_text {
  padding: 5px;
  text-align: center;
  color: #333;
}

.info_sub {
  text-align: center;
  margin: 0 auto;
  width: 45px;
}

.info_line {
  width: 0;
  height: 2px;
  background-color: #309AAC;
  transition: 0.2s linear;
}

.info_sub a {
  text-decoration: none;
  color: #309AAC;
}

.info_sub:hover .info_line {
  width: 100%;
}

/* PARTNER */
.partner_title {
  text-align: center;
  padding: 60px 0 20px 0;
  color: #309AAC;
}

.partner_inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.partner_item {
  overflow: hidden;
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 15px;
  border: 1px solid #333;
  border-radius: 3px;
}

.partner_item img {
  width: 100%;
  height: 130px;
  transition: 0.2s all linear;
}

.partner_item img:hover {
  scale: 1.1;
}

@media (max-width: 1450px) {
  .logo {
    left: 5%;
    width: 220px;
  }
  .news_item {
    width: 100%;
  }
  .news_hidden {
    display: none;
  }
  .form {
    width: 100%;
  }
  .form_logo {
    width: 40%;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 80%;
  }
  .nav_title {
    font-size: 40px;
  }
  .logo {
    left: 1%;
    width: 180px;
  }
  .navbar_title {
    font-size: 14px;
  }
  .info_title, .partner_title {
    font-size: 24px;
  }
  .news_info {
    height: 70px;
  }
  .news-info {
    width: 100%;
  }
  .news_text-info {
    text-align: start;
    padding: 0 5px;
  }
  .news_text p, .news_text-info, .news_index {
    font-size: 14px;
  }
  .footer_title {
    font-size: 20px;
  }
  .footer_text {
    font-size: 14px;
  }
  .partner_inner {
    padding: 10px;
  }
  .partner_item {
    width: 270px;
  }
  .partner_item img {
    height: 100px;
  }
  .history_box {
    flex-wrap: wrap;
    padding: 20px;
  }
  .his {
    width: 100% !important;
  }
  .history_img {
    width: 100% !important;
  }
  .history_img img {
    width: 50%;
  }
  .history_img p {
    padding: 0 !important;
  }
  .catalog_img, .direction_img, .library_entry-title, .library_entry-title img, .direction_img img {
    width: 100% !important;
    height: auto !important;
  }
  .good_know, .good {
    display: none;
  }
}
@media (max-width: 1000px) {
  .news_title p {
    padding-top: 10px;
  }
  .news_inner {
    flex-wrap: wrap;
  }
  .news_item-2 {
    width: 100%;
  }
  .news_item-2 .news_box {
    display: block;
  }
  .news_item-2 .news-info {
    margin: 20px 0;
    width: 100%;
  }
  .news_name {
    font-size: 24px;
  }
  tr {
    display: flex;
    flex-wrap: wrap;
  }
  tr td {
    width: 100%;
    text-align: center;
  }
  .nav_box {
    padding: 10px;
  }
  .logo {
    left: 5%;
    width: 140px;
  }
  .nav_title {
    font-size: 28px;
  }
  .navbar_title {
    font-size: 12px;
  }
  .news_info-home {
    height: 390px;
  }
  .news_info {
    height: 90px;
  }
  .news_info2 {
    width: 180px;
  }
  .partner_item {
    width: 250px;
  }
  .partner_item img {
    height: 80px;
  }
}
@media (max-width: 900px) {
  .footer_item {
    flex-wrap: wrap;
  }
}
@media (max-width: 850px) {
  .navbar_sub {
    width: 100%;
  }
  .nav, .logo {
    display: none;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 3000;
    flex-wrap: wrap;
  }
  .navbar {
    flex-direction: column;
    border: none;
  }
  .navbar li {
    padding: 10px;
  }
  /* hamburger */
  .hamburger {
    display: block;
  }
  .checkbox {
    display: none;
  }
  .button {
    position: relative;
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 4vh;
    right: 4vw;
    z-index: 2000;
    box-shadow: 0 1rem 3rem black;
    text-align: center;
    cursor: pointer;
  }
  .background {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5vh;
    right: 4.5vw;
    background-image: radial-gradient(#666, #fff);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .checkbox:checked ~ .background {
    transform: scale(80);
  }
  .checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
    right: 0;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icon,
.icon::before,
.icon::after {
    width: 1em;
    height: 2px;
    background-color: gray;
    display: inline-block;
  }
  .icon::before,
.icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .icon::before {
    top: -0.4rem;
  }
  .icon::after {
    top: 0.4rem;
  }
  .button:hover icon:before {
    top: -1rem;
  }
  .button:hover icon::after {
    top: 1rem;
  }
  .checkbox:checked + .button .icon {
    background-color: transparent;
  }
  .checkbox:checked + .button .icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .checkbox:checked + .button .icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  .news_info-home {
    height: 300px;
  }
  .news_info {
    height: 70px;
  }
  .news_title-home p {
    font-size: 16px;
  }
  .news_text-home {
    font-size: 14px;
  }
  .news_name, .info_title, .partner_title {
    font-size: 22px;
  }
  .news_text p, .news_text-info, .news_index {
    font-size: 10px;
  }
  .partner_item {
    width: 240px;
  }
}
@media (max-width: 720px) {
  .news_info-home {
    height: 280px;
  }
  .news_info {
    height: 50px;
  }
  .news_title-home p {
    font-size: 14px;
  }
  .news_text-home {
    font-size: 12px;
  }
  .news_title {
    font-size: 13px;
  }
}
@media (max-width: 650px) {
  .news_title-home p {
    font-size: 17px;
  }
  .news_text-home {
    font-size: 15px;
  }
  .news_info-home {
    height: 320px;
  }
  .news_view-home {
    width: 100%;
  }
  .info_grand {
    width: 100%;
  }
  .info_grand-line {
    border: none;
  }
  .info_inner {
    flex: none;
  }
  .footer_box {
    width: 100%;
  }
  .copyright_title {
    font-size: 12px;
  }
  .copyright_text {
    font-size: 14px;
  }
  .form {
    height: 80%;
  }
  .form_logo {
    width: 60%;
  }
}
@media (max-width: 520px) {
  .news_title, .info_title, .partner_title {
    font-size: 28px;
  }
  .news_box {
    display: block;
  }
  .news_info {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 300px;
  }
  .news-info {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .news_index {
    margin-right: 20px;
  }
  .partner_item {
    width: 100%;
  }
  .partner_item img {
    height: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
