{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}

<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



<div class="sec-container">
	<div class="lib">
		<div class="lib_info">
			<p>Добавленные книги: {{books_count}}</p>
			<p>Добавленные книги вами: {{books}}</p>
		</div>
		<div class="lib_inner">
			<h1>Добавление книги</h1>
			<form class="lib_form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
			<div class="form-group">
					<div class="col"><input type="text" class="form-control" name="title" placeholder="Название книги" required="required"></div>
			</div>
			<div class="form-group">
					<div class="col"><input type="text" class="form-control" name="author" placeholder="Автор" required="required"></div>
			</div>

			<div class="form-group">
					<div class="col"><input type="text" class="form-control" name="year" placeholder="Год издание" required="required"></div>
			</div>

			<div class="form-group">
					<div class="col"><label>Фото:</label>
						<input type="file" id="myFile" name="photo" placeholder="Report Attachment"
							   enctype="multipart/form-data"></div>
			</div>

			<div class="form-group">
					<div class="col"><label>PDF книги:</label>
						<input type="file" id="myFile" name="pdf" placeholder="Report Attachment" enctype="multipart/form-data"></div>
			</div>




			<div class="form-group">
				<label>Select a category</label>
				<select name="category" class="form-control">
					<option value='none'>Select a category...</option>

					{% for category in categories %}
					<option value='{{category.id}}'>{{category.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label>Create a new category</label>
				<input name="category_new" type="text" placeholder="Create a new category" class="form-control">
			</div>


			<div class="form-group">
				<button type="submit" class="form_btn">Добавить</button>
			</div>
    </form>


		</div>
	</div>
</div>




{% include 'footer.html' %}

{% endblock %}