<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
    <a href="{% url 'chatform' %}">chat</a>


    <div>
        {% for chat_v in chat %}

        {% if chat_v.user.is_staff %}

            <p>{{ chat_v.user }}</p>
        {% else %}

            <p>{{ chat_v.customer.user }}</p>

        {% endif %}

        <p>{{ chat_v.message }}</p>
        <div>
            <img style="height: 200px; width: 300px;" src="{{chat_v.image.url}}" alt="photo">
        </div>
        {% endfor %}
    </div>
</body>
</html>