{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}

<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



<div class="sec-container">
	<div class="catalog catalog-irbis">
		<h1 class="catalog_title">Библиотекарям</h1>
		<div class="personal">
			<div class="personal_box">
				<div class="personal_photo">
					<img src="{{request.user.customer.profile_pic.url}}" alt="">
					<div class="personal_icon">
						<i class="bi bi-pencil-fill"></i>
						<i class="bi bi-trash3-fill"></i>
					</div>
				</div>
				<form class="personal_info" method="POST" action="" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="personal_item">
						<h4>ФИО:</h4> {{form.name}}
					</div>
					<div class="personal_item">
						<h4>Номер:</h4>{{form.phone}}
					</div>
					<div class="personal_item">
						<h4>Email:</h4>{{form.email}}
					</div>
					<div class="personal_item">
						<h4>Фото:</h4> {{form.profile_pic}}
					</div>
					<div class="personal_item">
						<h4>Факультет:</h4>{{form.faculty}}
					</div>
					<button class="personal_btn" type="submit">Сохранить</button>
				</form>
			</div>
			<div class="personal_inner">
				<div class="personal_block">
				<h3>Личный кабинет</h3>
				<ul>
					<li><a class="personal_title" target="_blank" href="http://avn.oshsu.kg/AVN_search_st.html">Проверка задолжности студента</a></li>
					<li><a class="personal_title" href="{% url 'videoLib' %}">Видеоуроки</a></li>
					<li><a class="personal_title" href="{% url 'add-book' %}">Добавление книги</a></li>
					<li><a class="personal_title" href="#">Чат</a></li>
					<li><a class="personal_title" href="{% url 'logout' %}">Выход</a></li>
				</ul>
			</div>
		</div>
	</div>

		<h2 class="catalog_irbis">ИРБИС 64 <br> Автоматизированная библиотечная система</h2>

		<p class="catalog_text"><span>АРМ "Администратор"</span> - это рабочее место, контролирующее создание всех баз
			данных в системе и их полное актуальное состояние.</p>

		<p class="catalog_text"><span>АРМ "Каталогизатор"</span> - автоматизированное рабочее место, формирующее
			электронный каталог вновь поступивших учебников, литературы, утвержденной в учебном плане вуза, рефератов,
			диссертаций, монографий, научно-популярных статей, периодических изданий. </p>

		<p class="catalog_text"><span>АРМ "Комплектатор"</span> - рабочее место, выполняющее функцию комплектования
			библиотечного фонда путем регистрации его в базе данных и учета библиотечного фонда. </p>
		<ul>
			<li>следить за выполнением заказов на публикации.</li>
			<li>Проверить невыполненные заказы.</li>
			<li>создание документов новых книг, пришедших с партией совместно с бухгалтерией (КСУ).</li>
			<li>создание электронного каталога новых изданий (ЭК).</li>
			<li>Выпуск книг из библиотечного фонда переведен в другую базу данных (журнал).</li>
		</ul>

		<p class="catalog_text"><span>БД "Читатель"</span> - представляет собой автоматизированную информационную базу,
			регламентирующую новую регистрацию читателей в библиотеке при пользовании библиотекой. </p>

		<p class="catalog_text"><span>АРМ "Читатель"</span> - автоматизированное рабочее место, предназначенное для
			поиска необходимой литературы по электронному каталогу, оформления заказа (заказа) и получения книги без
			заказа при пользовании библиотекой.</p>

		<p class="catalog_text"><span>АРМ "Книговыдача"</span> - обеспечивает учебниками, литературой, пособиями,
			словарями, газетами - журналами и т.д. из библиотеки. Это автоматизированное рабочее место, которое
			используется для выполнения функции выдачи и приема считывателей.</p>

		<p class="catalog_irbis"><a href="http://sntnarciss.ru/irbis/spravka/irbis64.html?wirbis0010.htm"
				target="_blank">Полное руководство по системе ИРБИС 64</a></p>

	</div>
</div>




{% include 'footer.html' %}

{% endblock %}