{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% include 'header.html' %}

<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



<div class="sec-container">
	<div class="catalog catalog-irbis">
		<h1 class="catalog_title">{% trans 'Библиотекарям' %}</h1>
		<div class="personal">
			<div class="personal_box">
				
				<form class="personal_info" method="POST" action="" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="personal_item">
						<h4>ФИО:</h4> {{form.name}}
					</div>
					<div class="personal_item">	
						<h4>Номер:</h4>{{form.phone}}
					</div>
					<div class="personal_item">
						<h4>Email:</h4>{{form.email}}
					</div>
					<div class="personal_item">
						<h4>Фото:</h4>
						 <!-- <input type="file"> -->
						 <div class="personal_item-form">
						{{ form.profile_pic}}
						 </div>
					</div>
					<div class="personal_item">
						<h4>Факультет:</h4>{{form.faculty}}
					</div>
					<button class="personal_btn" type="submit">{% trans 'Сохранить' %}</button>
				</form>
			</div>
			<div class="personal_inner">
				<div class="personal_block">
					
				<h3>{% trans 'Личный кабинет' %}</h3>
				<div class="personal_photo">
					<img src="{{request.user.customer.profile_pic.url}}" alt="">
				</div>
				<ul>
					<li><a class="personal_title" target="_blank" href="http://avn.oshsu.kg/AVN_search_st.html">{% trans 'Проверка задолжности студента' %}</a></li>
					<li><a class="personal_title" href="{% url 'videoLib' %}">{% trans 'Видеоуроки' %}</a></li>
					<li><a class="personal_title" href="{% url 'add-book' %}">{% trans 'Добавление книги' %}</a></li>
<!--					<li><a class="personal_title" href="{% url 'chat' %}">Чат</a></li>-->
					<li><a class="personal_title" href="{% url 'logout' %}">{% trans 'Выход' %}</a></li>
				</ul>
			</div>
		</div>
	</div>

		{% for info in irbis %}
		<h2 class="catalog_irbis">ИРБИС 64 <br>{{info.title}}</h2>

		<p class="catalog_text">{{info.text|safe|linebreaks}}</p>

		{% endfor %}
		<p class="catalog_irbis"><a href="http://sntnarciss.ru/irbis/spravka/irbis64.html?wirbis0010.htm"
				target="_blank">Полное руководство по системе ИРБИС 64</a></p>

	</div>
</div>




{% include 'footer.html' %}

{% endblock %}