{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}

<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



<div class="sec-container">
		<div class="info_lib">
			<table>
				<tr>
				  <th>№</th>
				  <th>ФИО</th>
				  <th>Телефон</th>`
				  <th>Email</th>
				  <th>Факультет</th>
				</tr>

				{% for customer in customers %}
				<tr>
				  <td>{{customer.id}}</td>
				  <td>{{customer.name}}</td>
				  <td>{{customer.phone}}</td>
				  <td>{{customer.email}}</td>
				  <td>{{customer.faculty}}</td>
				</tr>
				{% endfor %}

			  </table>
		</div>

</div>




{% include 'footer.html' %}

{% endblock %}