{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



	<!-- About -->
	<div class="sec-container">
		<div class="about">
			<h1 class="about_title">О Библиотеке</h1>
			<p class="about_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla adipisci delectus, accusantium animi consectetur consequuntur quod aspernatur dolore accusamus deleniti provident, sed recusandae corporis doloribus porro velit blanditiis debitis laboriosam temporibus? Nesciunt excepturi quis ipsam, consequuntur quaerat praesentium facilis, eveniet placeat tempore tempora architecto libero fugiat quisquam labore necessitatibus unde debitis explicabo voluptas blanditiis possimus nostrum fuga sed! Minus quam assumenda dignissimos ex praesentium nobis, dicta nihil est unde soluta eveniet amet ratione doloribus, quidem magnam enim. Perferendis iste omnis architecto quis laudantium dolorum exercitationem commodi tempora unde, at voluptate magnam ducimus dignissimos dolorem earum quasi ex sit alias doloribus. <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae consequatur ipsum ipsam odit, praesentium labore non suscipit nisi minus ex.</p>
		</div>
	</div>

{% include 'footer.html' %}

{% endblock %}


