{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">

{% for lib in library %}
	<!-- About -->
	<div class="sec-container" id="about">
		<div class="about">

			<h1 class="about_title">{{lib.l_title}}</h1>
			<p class="about_text">{{lib.l_body}}</p>

		</div>

	</div>


<!--Mission-->
<div class="bg" id="mission">
<div class="sec-container">
	<div class="mission">
		<h1 class="mission_title">{{lib.m_title}}</h1>
		<p>{{ lib.m_body }}</p>

		<h2 class="mission_title">{{ lib.os_title }}</h2>

		<p>{{lib.os_body}}</p>

	</div>
</div>
</div>

<!--History-->
<div class="sec-container" id="history">
	<div class="history">
		<h1>{{lib.history_title}}</h1>
		<p>{{lib.history_body}}</p>
		<div class="history_img">
		<img src="{{lib.history_image.url}}" alt="">
		</div>
		{% endfor %}

		{% for lib2 in library2 %}
		<p>{{ lib2.history_body|linebreaks }}</p>
		<div class="history_img">
		<img src="{{lib2.history_image.url}}" alt="">
		</div>
		{% endfor %}

		{% for lib3 in library4 %}
		<p>{{ lib3.history_body|linebreaks }}</p>
		{% endfor %}

		{% for lib5 in library5 %}
			<p>{{ lib5.history_body|linebreaks }}</p>
			<div class="history_img">
				<img src="{{lib5.history_image.url}}" alt="">
			</div>
		{% endfor %}
	</div>
</div>


<!--Structure-->
<div class="bg">
	<div class="sec-container">
		<div class="structure" id="structure">
			<h1 class="structure_title">Структура</h1>
			<div class="structure_inner">
				
				<div class="structure_item">
					<a href="#"><h3>Директор</h3></a>
					<div class="structure_box">
						<div class="structure_block">
							<img src="{% static '2.jpg' %}" alt="">
						</div>
						<p>Эсекеева А.</p>
					</div>
				</div>

				<div class="structure_item">
					<a href="#"><h3>Информационно-библиографический отдел</h3></a>
					<div class="structure_box">

					</div>
				</div>

				<div class="structure_item">
					<a href="#"><h3>Одел хранения книги</h3></a>
					<div class="structure_box">

					</div>
				</div>

				<div class="structure_item">
					<a href="#"><h3>Отдел коплектование</h3></a>
					<div class="structure_box">

					</div>
				</div>

			</div>
		</div>
	</div>
</div>


{% include 'footer.html' %}

{% endblock %}


