{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">

	<!-- News -->
<div class="sec-container">
	<div class="news">
			<div class="news_inner">
				<div class="news_item">
					<h1 class="news_title">Объявления</h1>
					<div class="news_box">

						{% for ad in ads %}
						<div class="news-info">
							<div class="news_logo">
							<img class="news_img-info" src="{% static 'img/bg/logo.svg' %}" alt="">
							<p>{{ad.title}}</p>
							</div>
							<div class="news_text-info">{{ad.text}}</div>
							<div class="news_index">{{ad.ads_date|date:"d.m.Y"}}</div>
						</div>
						{% endfor %}


<!--						<div class="news-info">-->
<!--							<div class="news_logo">-->
<!--								<img class="news_img-info" src="{% static 'img/bg/logo.svg' %}" alt="">-->
<!--								<p>ОшГУ</p> -->
<!--								</div>-->
<!--							<div class="news_text-info">Не забудьте подать заявки на электронные учебники</div>-->
<!--							<div class="news_index">view 12 / 12-09-2022</div>-->
<!--						</div>-->

<!--						<div class="news-info">-->
<!--							<div class="news_logo">-->
<!--								<img class="news_img-info" src="{% static 'img/bg/logo.svg' %}" alt="">-->
<!--								<p>ОшГУ</p> -->
<!--								</div>-->
<!--							<div class="news_text-info">Не забудьте подать заявки на электронные учебники</div>-->
<!--							<div class="news_index">view 12 / 12-09-2022</div>-->
<!--						</div>-->
					</div>
				</div>
			</div>
	</div>
</div>


{% include 'footer.html' %}

{% endblock %}



