{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">


	<div class="sec-container">
		<div class="books">
			<div class="books_category">
	
				<div class="books_box-only">
					<h2>Категория</h2>
	
                    <div class="dropdown">
                        <button class="dropbtn">Гуманитарные науки</button>
                        <div class="dropdown-content">
                            <a href="#">Исторические науки</a>
                            <a href="#">Экономические науки</a>
                            <a href="#">Философские науки</a>
                            <a href="#">Филологические науки</a>
                            <a href="#">Социологические науки</a>
                            <a href="#">Политические науки</a>
                            <a href="#">Культурология</a>
                            <a href="#">Архитектура</a>
                            <a href="#">Библиотековедение, библиографоведение и книговедение</a>
                            <a href="#">Юридические науки</a>
                            <a href="#">Педагогические науки</a>
                            <a href="#">Искусствоведение</a>
                            <a href="#">Психологические науки</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Естественные науки</button>
                        <div class="dropdown-content">
                            <a href="#">Физико-математические науки</a>
                            <a href="#">Химические науки</a>
                            <a href="#">Биологические науки</a>
                            <a href="#">Сельскохозяйственные науки</a>
                            <a href="#">Медицинские науки</a>
                            <a href="#">Науки о земле</a>
                            <a href="#">Ветеринарные науки</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Технические науки</button>
                        <div class="dropdown-content">
                            <a href="#">Энергетическое, металлургическое и химическое машиностроение</a>
                            <a href="#">Транспортное, горное и строительное машиностроение</a>
                            <a href="#">Кораблестроение</a>
                            <a href="#">Радиотехника и связь</a>
                            <a href="#">Информатика, вычислительная техника и управление</a>
                            <a href="#">Энергетика</a>
                            <a href="#">Химическая технология</a>
                            <a href="#">Технология производственных продуктов</a>
                            <a href="#">Технология материалов и изделий текстильной и легкой промышленности</a>
                            <a href="#">Процессы и машины агроинженерных систем</a>
                            <a href="#">Технология, машины и оборудование для лесозагатовок</a>
                            <a href="#">Транспорт</a>
                            <a href="#">Строительство</a>
                            <a href="#">История науки и техники</a>
                            <a href="#">Электротехника</a>
                            <a href="#">Инженерная геометрия и компьютерная графика</a>
                            <a href="#">Машиностроение и машиноведение</a>
                            <a href="#">Авиационная и ракетно-космическая техника</a>
                            <a href="#">Приборостроение</a>
                            <a href="#">Электроника</a>
                            <a href="#">Металлургия</a>
                            <a href="#">Документальная информация</a>
                            <a href="#">Информационные системы и процессы, правовые аспекты информатики</a>
                        </div>
                    </div>

					<!-- <div class="books_dropdown">
						<button onclick="myFunction()" class="books_dropbtn">Темы</button>
						<div id="books_myDropdown" class="books_dropdown-content">
							<a href="{% url 'books' %}">{% trans 'Все книги' %}</a>
	
							{% for category in categories %}
						  <a href="{% url 'readers' %}?category={{category.name}}">{{category.name}}</a>
							{%endfor%}
	
						</div>
				</div> -->
				</div>
	
				<div class="books_info-only">
	
					<div class="books_search">
					<form action="{% url 'search' %}" method="GET">
						<div class="books_search-box">
							<input type="text" class="books_search-inp" placeholder="Искать книгу"
								   name="q">
							<button class="books_search-btn" type="submit">{% trans 'поиск' %}</button>
						</div>
					</form>
					</div>
	
					<div class="books_inner-only ">
	
						{% for book in books %}
						<div class="books_content-only ">
							<div class="books_img">
								<img src="{{ book.photo.url }}" alt="">
							</div>
							<div class="books_item">
								<h4>{{book.title}}</h4>
								<p>Автор: {{book.author}}</p>
								<p class="books_text">Категория: {{book.category.name}}</p>
								<button><a href="{{ book.pdf.url }}">{% trans 'Читать' %}...</a></button>
							</div>
						</div>
						{% endfor %}
					</div>
					</div>

			</div>
		</div>
	</div>


	<div class="pogination">
		<div class="pogination_block">
				{% if categories.has_previous %}
				<a  href="{% url 'books' %}?page={{posts.previous_page_number}}"><i class="bi bi-chevron-left"></i></a>
				{% endif %}
				{% for num_page in categories.paginator.page_range %}
				{% if categories.number == num_page %}
				<a href="{% url 'books' %}?page={{num_page}}">{{num_page}}</a>
				{% else %}
				<a href="{% url 'books' %}?page={{num_page}}">{{num_page}}</a>
				{% endif %}
				{% endfor %}
				{% if categories.has_next %}
				<a  href="{% url 'books' %}?page={{posts.next_page_number}}"><i class="bi bi-chevron-right"></i></a>
				{% endif %}
			<p>Страницы: {{categories.number}}/{{categories.paginator.num_pages}}</p>
		</div>
	</div>

{% include 'footer.html' %}

{% endblock %}
