{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">


	<div class="sec-container">
		<div class="books">
			<div class="books_category">
	
				<div class="books_box-only">
					<h2>Категория</h2>
	
					<div class="books_dropdown">
						<button onclick="myFunction()" class="books_dropbtn">Темы</button>
						<div id="books_myDropdown" class="books_dropdown-content">
							<a href="{% url 'books' %}">Все книги</a>
	
							{% for category in categories %}
						  <a href="{% url 'readers' %}?category={{category.name}}">{{category.name}}</a>
							{%endfor%}
	
						</div>
				</div>
				</div>
	
				<div class="books_info-only">
	
					<div class="books_search">
					<form action="{% url 'search' %}" method="GET">
						<div class="books_search-box">
							<input type="text" class="books_search-inp" placeholder="Искать книгу"
								   name="q">
							<button class="books_search-btn" type="submit">поиск</button>
						</div>
					</form>
					</div>
	
					<div class="books_inner-only ">
	
						{% for book in books %}
						<div class="books_content-only ">
							<div class="books_img">
								<img src="{{ book.photo.url }}" alt="">
							</div>
							<div class="books_item">
								<h4>{{book.title}}</h4>
								<p>Автор: {{book.author}}</p>
								<p class="books_text">Категория: {{book.category.name}}</p>
								<button><a href="{{ book.pdf.url }}">Читать...</a></button>
							</div>
						</div>
						{% endfor %}
	
						
						
	
					</div>
					</div>
	
	
			</div>
		</div>
	</div>


{% include 'footer.html' %}

{% endblock %}
