 {% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



<div class="sec-container">
	<div class="catalog">
		<h1 class="catalog_title">Каталоги</h1>
		<div class="">
			{% for c in catalog %}
			{{ c.c_body|safe }}
			<div class="catalog_box">
				<img class="catalog_img" src="{{ c.c_image.url }}" alt="">
			</div>
			{% endfor %}
		</div>





		





		<div class="catalog_box">
			<img class="catalog_img" src="{% static 'img/catalog/6.jpg' %}" alt="">
		</div>
		<p class="catalog_text"><span>Систематические каталоги</span></p>
		<div class="catalog_box">
			<ul class="catalog_link">
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419151514-kitep_osu.pdf>Текущий библиографический указатель 2014 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419151215-kitep_osu.pdf>Текущий библиографический указатель 2014 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419143207-kitep_osu.pdf>Текущий библиографический указатель 2014  года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419134615-kitep_osu.pdf>Текущий библиографический указатель 2015 года II-III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419152146-kitep_osu.pdf>Текущий библиографический указатель 2016 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419152547-kitep_osu.pdf>Текущий библиографический указатель 2016 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419152827-kitep_osu.pdf>Текущий библиографический указатель 2016 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419152954-kitep_osu.pdf>Текущий библиографический указатель 2016 года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419153241-kitep_osu.pdf>Текущий библиографический указатель 2017 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419153535-kitep_osu.pdf>Текущий библиографический указатель 2017 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419153718-kitep_osu.pdf>Текущий библиографический указатель 2017 года III - IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180523104814-kitep_osu.pdf>Текущий библиографический указатель 2018 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180717113523-kitep_osu.pdf>Текущий библиографический указатель 2018 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20181029154125-kitep_osu.pdf>Текущий библиографический указатель 2018 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20190121132411-kitep_osu.pdf>Текущий библиографический указатель 2018 года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20190408085021-kitep_osu.pdf>Текущий библиографический указатель 2019 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20190719123821-kitep_osu.pdf>Текущий библиографический указатель 2019 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20191004083952-kitep_osu.pdf>Текущий библиографический указатель 2019 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20200701142510-kitep_osu.pdf>Текущий библиографический указатель 2019 года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20201215101919-Kitep_osu.pdf>Текущий библиографический указатель 2020 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20201215102339-Kitep_osu.pdf>Текущий библиографический указатель 2020 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20210316101154-Kitep_osu.pdf>Текущий библиографический указатель 2020 года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/XLSX-20201214141515-Kitep_osu.xlsx>Образец заполнения заявки на приобретение учебной литературы</a></li>
			</ul>
			<img class="catalog_img" src="{% static 'img/catalog/7.jpg' %}" alt="">
		</div>

	</div>
</div>

{% include 'footer.html' %}

{% endblock %}























