{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



<div class="sec-container">
	<div class="catalog">
		<h1 class="catalog_title">Каталоги</h1>
		<p class="catalog_text"><span>Библиотечный каталог</span> – совокупность расположенных по определённым правилам
			библиографических записей на документы, раскрывающих состав и содержание фонда библиотеки или
			информационного центра.
		<p> Библиотечный каталог функционирует в карточной или машиночитаемой форме (электронный каталог), на
			микроносителях, а также в форме книжного издания.</p>
		</p>
		<p class="catalog_text"><span>Каталоги</span> - состоят из карточек, содержащих сведения о книге, журнале и
			других печатных материалах. В рационально организованной системе каждый из каталогов раскрывает фонд в
			определённом аспекте. Каталоги не дублируют друг друга, а дополняют. Все каталоги составляют единое целое.
			Созданию каталогов предшествует библиографическое описание источника.</p>
		<div class="catalog_box">
			<img class="catalog_img" src="{% static 'img/catalog/1.jpg' %}" alt="">
			<img class="catalog_img" src="{% static 'img/catalog/2.jpg' %}" alt="">
		</div>
		<p class="catalog_text">В зависимости от способа группировки карточек каталоги бывают:</p>
		<ul>
			<li>Алфавитный каталог</li>
			<li>Систематический каталог</li>
			<li>Электронный каталог</li>
		</ul>

		<p class="catalog_text"><span>Алфавитный каталог</span> - Библиотечный каталог, в котором карточки располагаются
			по алфавиту фамилий авторов или названий книг и других документов. Алфавитный каталог позволяет пользователю
			узнать, есть ли в библиотеке книга, если известны её автор или название, какие произведения определённого
			автора имеются в библиотеке, уточнить год издания книги, её объём, издательство, получить сведения о языке и
			тому подобное</p>
		<img class="catalog_img" src="{% static 'img/catalog/3.jpg' %}" alt="">


		<p class="catalog_text"></span>Систематический каталог</span> - Библиотечный каталог, в котором описания
			документов располагаются по отраслям знания в соответствии с определённой системой классификации. Материал
			располагается в логической последовательности от общего к частному. Поэтому поиск литературы в
			систематическом каталоге является многоступенчатым: сначала нужна отрасль знания, затем конкретный запрос, а
			потом источник. К систематическому каталогу обращаются для:</p>
		<ul>
			<li>Подбора литературы по определённому вопросу, теме, отрасли знания</li>
			<li>Поиска книги, если неизвестны точное заглавие или фамилия автора</li>
		</ul>
		
		<img class="catalog_img" src="{% static 'img/catalog/4.jpg' %}" alt="">

		<p class="catalog_text"> <span> Электронный каталог</span> — совокупность программных и аппаратных средств по
			обеспечению деятельности библиотеки по заказу, каталогизации, поиску, выдаче книг, решения различных задач
			по отчётности и книгообеспеченности читателей и др. как в локальной вычислительной сети, так и через
			web-сопряжение.
		<p> <span> Электронный каталог</span> – одним словом современные методы найти необходимых литературы в
			библиотеке. </p>
		</p>

		<div class="catalog_box">
			<img class="catalog_img" src="{% static 'img/catalog/5.jpg' %}" alt="">
			<img class="catalog_img" src="{% static 'img/catalog/6.jpg' %}" alt="">
		</div>
		<p class="catalog_text"><span>Систематические каталоги</span></p>
		<div class="catalog_box">
			<ul class="catalog_link">
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419151514-kitep_osu.pdf>Текущий библиографический указатель 2014 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419151215-kitep_osu.pdf>Текущий библиографический указатель 2014 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419143207-kitep_osu.pdf>Текущий библиографический указатель 2014  года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419134615-kitep_osu.pdf>Текущий библиографический указатель 2015 года II-III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419152146-kitep_osu.pdf>Текущий библиографический указатель 2016 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419152547-kitep_osu.pdf>Текущий библиографический указатель 2016 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419152827-kitep_osu.pdf>Текущий библиографический указатель 2016 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419152954-kitep_osu.pdf>Текущий библиографический указатель 2016 года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419153241-kitep_osu.pdf>Текущий библиографический указатель 2017 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419153535-kitep_osu.pdf>Текущий библиографический указатель 2017 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419153718-kitep_osu.pdf>Текущий библиографический указатель 2017 года III - IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180523104814-kitep_osu.pdf>Текущий библиографический указатель 2018 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180717113523-kitep_osu.pdf>Текущий библиографический указатель 2018 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20181029154125-kitep_osu.pdf>Текущий библиографический указатель 2018 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20190121132411-kitep_osu.pdf>Текущий библиографический указатель 2018 года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20190408085021-kitep_osu.pdf>Текущий библиографический указатель 2019 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20190719123821-kitep_osu.pdf>Текущий библиографический указатель 2019 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20191004083952-kitep_osu.pdf>Текущий библиографический указатель 2019 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20200701142510-kitep_osu.pdf>Текущий библиографический указатель 2019 года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20201215101919-Kitep_osu.pdf>Текущий библиографический указатель 2020 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20201215102339-Kitep_osu.pdf>Текущий библиографический указатель 2020 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20210316101154-Kitep_osu.pdf>Текущий библиографический указатель 2020 года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/XLSX-20201214141515-Kitep_osu.xlsx>Образец заполнения заявки на приобретение учебной литературы</a></li>
			</ul>
			<img class="catalog_img" src="{% static 'img/catalog/7.jpg' %}" alt="">
		</div>

	</div>
</div>

{% include 'footer.html' %}

{% endblock %}























