{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">


	<div class="sec-container">
		<div class="contact">
			<h1>Как связаться</h1>
			<table class="contact_box">
				{% for c in contact %}
				<tr>
					<th>{{c.title}}</th>
					<td>{{c.text}}</td>
				</tr>
				{% endfor %}
			  </table>
			
			  <h1>Карта</h1>
			  <div class="map" id="map">
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A962eeaecb1e6bd44fcbe5b93788e6329fc91c63e114d2036ffcc38e03305cdcf&amp;width=100%25&amp;height=510&amp;lang=ru_RU&amp;"></script>
			  </div>

		</div>
	</div>

{% include 'footer.html' %}

{% endblock %}


