{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">


	<div class="sec-container">
		<div class="contact">
			<h1 class="response_title">{% trans 'Как связаться' %}</h1>
			<table class="contact_box">
				{% for c in contact %}
				<tr>
					<th>{{c.title}}</th>
					<td>{{c.text}}</td>
				</tr>
				{% endfor %}
			  </table>
			
			  <h1 class="response_sub-title">Карта</h1>
			  <div class="map" id="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d538.1818874439833!2d72.79546993425676!3d40.532353010835884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdac04fccc99a9%3A0x408c6ca57e96bdb1!2z0JHQuNCx0LvQuNC-0YLQtdC60LAg0J7RiNCT0KM!5e0!3m2!1sru!2skg!4v1673425812023!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			  </div>

		</div>
	</div>

{% include 'footer.html' %}

{% endblock %}


