{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



    <div class="director">
    <section class="ibo-us">
    <h1>Директор</h1>

        <div class="ibo">
          <img src="{% static 'img/structure/dir.jpg' %}" class="ibo_pic">
          <div class="ibo_text">
            <h2>Эсекеева А.</h2>
            <h5>Front-en</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
              </div>
        </div>
      </section>

    </div>

{% include 'footer.html' %}

{% endblock %}