{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



    <div class="director">
    <section class="ibo-us">
    <h1>Директор</h1>
    {% for i in director %}
        <div class="ibo">
          <img src="{{i.image.url}}" class="ibo_pic">
          <div class="ibo_text">
            <h2>{{i.name}}</h2>
      
              <p>{{ i.text }}</p>
              </div>
        </div>
        {% endfor %}
      </section>

    </div>

{% include 'footer.html' %}

{% endblock %}