{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">

	<div class="sec-container">
		<div class="history">
			<h1>История</h1>
			<p>Научная библиотека Ошского Государственного университета активно и плодотворно функционирует с 1939 года со дня основания данного учебного заведения.</p>
			<p>На основе постановления №1142 совета народных комиссаров Кыргызстана от 10 августа 1939 года была образована Ошская школа учителей, в 1951 году постановлением №1759 правительства СССР – Ошский Государственный педагогический институт, с 17 июня 1992 года согласно постановлению №202 президента КР был создан Ошский Государственный Университет.</p>
			<div class="history_img">
			<img src="../img/history/1.jpg" alt="">
			</div>
			<p>Люди, руководящие и внесшие большой вклад в создание научной библиотеки университета: А.И. Федова, Ф.Х. Дауранова, К. Турсунова, А.В. Ильяева, М.Ю. Клебанова.</p>
			<p>1947–1996 годы под руководством М.Ю. Клебановой фонд библиотеки был переписан в инвентарные журналы, были составлены алфавитные, системные и рабочие каталоги.</p>
			<p>1996–2005 годы А. Г. Ибрагимова работала директором научной библиотеки. В эти годы фонд библиотеки пополнился учебниками, научно–методическими пособиями, диссертациями, словарями и другими книгами, общее количество, которых превысило 730 тысяч. Фонд библиотеки достиг 812661 единиц.</p>
			<p>2005–2009 годы С. С. Токтомамбетова работала в качестве директора научной библиотеки.</p>
			<div class="history_img">
			<img src="../img/history/2.jpg" alt="">
			</div>
			<p>2009–2011 годы научная библиотека университета находилась под руководством департамента инвестиции и новых технологий ОшГУ; она состояла из четырех центральных библиотек и трех отделений. Директором департамента был кандидат биологических наук, доцент Т. К. Эркебаев, затем департаментом руководил кандидат педагогических наук, доцент, депутат городского совета Т.А. Жоробеков.</p>
			<div class="history_box">
				<div class="history_img">
				<p>
					Решением ученного совета ОшГУ и на основе приказа ректора №652 от 25 ноября 2011 года была принята новая структура библиотеки; директором библиотеки была назначена и работает по сегодняшний день Мамбетова Сайраш Сатындиевна.</p>
					<img src="../img/history/3.jpg" alt="">
				</div>
				<div class="history_img">


					<img src="../img/history/4.jpg" alt="">
					<p>4 отделения, 16 абонементов, 15 читальных залов на 1210 мест, 4 кафедральных читальных залов, 57 опытных сотрудников НБ ОшГУ оказывают услуги студентам, аспирантам, магистрантам и другим читателям. Общая площадь научной библиотеки составляет 3262.85 м.кв.</p>
				</div>

			</div>
		</div>
	</div>

{% include 'footer.html' %}

{% endblock %}




