{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



    <div class="director">
      {% for i in ibo %}
    <section class="ibo-us">
    <h1>Информационно-библиографический отдел</h1>

        <div class="ibo">
          <img src="{{i.image.url}}" class="ibo_pic">
          <div class="ibo_text">
            <h2>{{i.name}}</h2>
            <h5>{{i.title}}</h5>
              <p>{{i.text|linebreaks}}</p>
              </div>
        </div>
      </section>

     </div>
<div class="sec-container">
    <div class="ibo_info">
    <p>{{ i.text1|linebreaks }}</p>    
    </div>
</div>
    </div>
    {% endfor %}

{% include 'footer.html' %}

{% endblock %}