{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



	<div class="sec-container">
		<div class="mission">
			<h1 class="mission_title">Миссия</h1>
			<p>Научная библиотека Ошского государственного университета, открытая одновременно с университетом в 1939 г., исторически видит свое призвание в содействии Миссии ОшГУ и удовлетворении информационных потребностей университетского сообщества.</p>
			<p>Научная библиотека Ошского государственного университета видит свою миссию в содействии повышению качества образования и науки в ОшГУ посредством предоставления инновационных библиотечно-информационных продуктов и услуг исследователям, преподавателям, студентам университета и его партнерам.</p>
			<h2 class="mission_title">Основные задачи</h2>

			<p>Формировать библиотечно-информационные ресурсы, расширяя взаимодействие с факультетами и научно-исследовательскими подразделениями Университета. Обеспечивать развитие библиотеки как ресурсного центра, гарантируя исследователям, преподавателям и студентам получение необходимой им информации.</p>
			<p>Создавать и предлагать современные информационные продукты и услуги, поддерживающие исследовательскую и преподавательскую деятельность на каждом этапе; обеспечивать доступность всех ресурсов НБ, в том числе публикаций Ош ГУ, в мировом информационном пространстве.</p>
			<p>Содействовать развитию информационной культуры и совершенствовать исследовательские компетенции студентов, аспирантов, преподавателей.</p>
			<p>Быть открытой инновациям. Обеспечивать лидирующие позиции в области библиотечного обслуживания и технологий; транслировать передовой опыт в профессиональное сообщество университетских библиотек Кыргызстана.</p>
			<p>Обеспечивать сохранность уникальных книжных коллекций НБ Ош ГУ для будущих поколений и их доступность в мировом информационном пространстве</p>

		</div>
	</div>

{% include 'footer.html' %}

{% endblock %}


