{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">


	<div class="sec-container">
		<div class="photo_only">
			<h1 class="photo_title">Фото</h1>
			<div class="photo_block-only">
	
				<div class="photo_inner-only">
					<div class="photo_box-only">
							<div class="photo_img-only" style="background-image: url({{ photo.image.url }})"></div>
							<div class="photo_index-only"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
							<div class="photo_content-only">
								<h2>{{photo.title}}</h2>
								<p>{{photo.text}}</p>
							</div>
					</div>
				</div>



				<div class="photo_inner-only2">

					{% for foto in photos %}
					<div class="photo_box-only2">
						<div class="photo_item-only2">
							<a href="{% url 'photo-Only' foto.id %}">
								<div class="photo_img-only2" style="background-image: url({{foto.image.url}})">
								</div>
							</a>
						</div>
						<div class="photo_index-only"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
						<h2>{{ foto.title }}</h2>
					</div>

					{% endfor %}

				</div>

			</div>
		</div>
	</div>


{% include 'footer.html' %}

{% endblock %}
