{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">


	<div class="sec-container">
		<h1 class="photo_title response_title">Фото</h1>
		<div class="photo">
			{% for foto in photos %}
			<div class="photo_inner">
				<div class="photo_box">
				<div class="photo_item">
					<a href="{% url 'photo-Only' foto.id %}">
						<div class="photo_img" style="background-image: url({{ foto.image.url }})"></div>
					</a>
				</div>
				<div class="photo_index"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
				<h2>{{ foto.title }}</h2>
				</div>
			</div>
				{% endfor %}
		</div>
	</div>



{% include 'footer.html' %}

{% endblock %}
