{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



<!-- BOOKS-->
<div class="bg" id="books">
<div class="sec-container">
    <div class="books">
        <div class="books_category">

            <div class="books_box">
                <h2>Категория</h2>

                <div class="books_dropdown">
                    <button onclick="myFunction()" class="books_dropbtn">Темы</button>
                    <div id="books_myDropdown" class="books_dropdown-content">
                        <a href="{% url 'books' %}">Все книги</a>

                        {% for category in categories %}
                      <a href="{% url 'readers' %}?category={{category.name}}">{{category.name}}</a>
                        {%endfor%}

                    </div>
            </div>
            </div>

            <div class="books_info">

                <div class="books_inner">

                    <div class="books_slick-slider">
                    {% for book in books %}
                    <div class="books_content">
                        <div class="books_img">
                            <img src="{{ book.photo.url }}" alt="">
                        </div>
                        <div class="books_item">
                            <h4>{{book.title}}</h4>
                            <p>Автор: {{book.author}}</p>
                            <p class="books_text">Категория: {{book.category.name}}</p>
                            <button><a href="{{ book.pdf.url }}">Читать...</a></button>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                    
                    

                </div>
                </div>


        </div>
    </div>
</div>
</div>



<!-- DIRECTION-->



<!--   LIBRARY ENTRy-->
<div class="bg">
<div class="sec-container">
    {% for r in reader %}
    <div class="library_entry" id="library_entry">
        <div class="library_entry-title">
            <h1>{{r.title}}</h1>
            <img src="{{r.image.url}}" alt="">
        </div>
        <p>{{r.text|safe}}</p>
    </div>
    {% endfor %}
</div>
</div>







<!-- GOOD TO KNOW-->
<div class="sec-container">
    <div class="good_know" id="good_to_know">
        <h2 class="good_title">Республиканские газеты и журналы</h2>

        <table class="good_box">
            <tr><td><p><b>№</b></p></td>
                <td><p><b>индекс</b></p></td>
                <td>
                    <p>
                        <b>Наименование</b>
                    </p>
                </td>

                <td>
                    <p>
                        <b>Месторасположение</b>
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p>
                        1
                    </p>
                </td>

                <td>
                    <p>
                        68537
                    </p>
                </td>

                <td>
                    <p>
                        Азия Ньюс
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        2
                    </p>
                </td>

                <td>
                    <p>
                        68544
                    </p>
                </td>

                <td>
                    <p>
                        Аргументы и факты - Кыргызстан (с прил.АиФ Здор.)
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        3
                    </p>
                </td>

                <td>
                    <p>
                        68449
                    </p>
                </td>

                <td>
                    <p>
                        Алиби
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        4
                    </p>
                </td>

                <td>
                    <p>
                        68459
                    </p>
                </td>

                <td>
                    <p>
                        Ай-Данек
                    </p>
                </td>

                <td>
                    <p>
                        Зирек
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        5
                    </p>
                </td>

                <td>
                    <p>
                        68472
                    </p>
                </td>

                <td>
                    <p>
                        Де-факто плюс
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        6
                    </p>
                </td>

                <td>
                    <p>
                        68403
                    </p>
                </td>

                <td>
                    <p>
                        Дело №
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        7
                    </p>
                </td>

                <td>
                    <p>
                        68606
                    </p>
                </td>

                <td>
                    <p>
                        Жа&#1187;ы ордо
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        8
                    </p>
                </td>

                <td>
                    <p>
                        31470
                    </p>
                </td>

                <td>
                    <p>
                        Комсомольская правда
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        9
                    </p>
                </td>

                <td>
                    <p>
                        68411
                    </p>
                </td>

                <td>
                    <p>
                        Кутбилим
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        10
                    </p>
                </td>

                <td>
                    <p>
                        68418
                    </p>
                </td>

                <td>
                    <p>
                        Кутбилим сабак
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        11
                    </p>
                </td>

                <td>
                    <p>
                        68416
                    </p>
                </td>

                <td>
                    <p>
                        Кыргыз Туусу
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        12
                    </p>
                </td>

                <td>
                    <p>
                        68407
                    </p>
                </td>

                <td>
                    <p>
                        Московский комсомолец – Азия
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        13
                    </p>
                </td>

                <td>
                    <p>
                        68484
                    </p>
                </td>

                <td>
                    <p>
                        Кыргыз тили
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        14
                    </p>
                </td>

                <td>
                    <p>
                        68504
                    </p>
                </td>

                <td>
                    <p>
                        Ош шамы
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        15
                    </p>
                </td>

                <td>
                    <p>
                        68420
                    </p>
                </td>

                <td>
                    <p>
                        Ош жа&#1187;ырыгы
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        16
                    </p>
                </td>

                <td>
                    <p>
                        68419
                    </p>
                </td>

                <td>
                    <p>
                        Общественый рейтинг
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        17
                    </p>
                </td>

                <td>
                    <p>
                        68415
                    </p>
                </td>

                <td>
                    <p>
                        Слово Кыргызстана
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        18
                    </p>
                </td>

                <td>
                    <p>
                        68400
                    </p>
                </td>

                <td>
                    <p>
                        Совершенно не секретно
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        19
                    </p>
                </td>

                <td>
                    <p>
                        68527
                    </p>
                </td>

                <td>
                    <p>
                        Супер инфо
                    </p>
                </td>

                <td>
                    <p>
                        жатакана
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        20
                    </p>
                </td>

                <td>
                    <p>
                        68548
                    </p>
                </td>

                <td>
                    <p>
                        Тил жана маданият
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        21
                    </p>
                </td>

                <td>
                    <p>
                        68421
                    </p>
                </td>

                <td>
                    <p>
                        Эхо Оша
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        22
                    </p>
                </td>

                <td>
                    <p>
                        68422
                    </p>
                </td>

                <td>
                    <p>
                        Уш Садоси
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        23
                    </p>
                </td>

                <td>
                    <p>
                        68451
                    </p>
                </td>

                <td>
                    <p>
                        Эркин Тоо
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        24
                    </p>
                </td>

                <td>
                    <p>
                        32185
                    </p>
                </td>

                <td>
                    <p>
                        Российская газета
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>

        </table>

        <table class="good_box">

            <h2 class="good_title">Журналы</h2>

            <tr>
                <td>
                    <p>
                        1
                    </p>
                </td>

                <td>
                    <p>
                        77324
                    </p>
                </td>

                <td>
                    <p>
                        Жа&#1187;ы Ала Тоо
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        2
                    </p>
                </td>

                <td>
                    <p>
                        77406
                    </p>
                </td>

                <td>
                    <p>
                        Балакай
                    </p>
                </td>

                <td>
                    <p>
                        искусство
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        3
                    </p>
                </td>

                <td>
                    <p>
                        77305
                    </p>
                </td>

                <td>
                    <p>
                        Байчечекей
                    </p>
                </td>

                <td>
                    <p>
                        Зирек, ГПК
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        4
                    </p>
                </td>

                <td>
                    <p>
                        77312
                    </p>
                </td>

                <td>
                    <p>
                        Главный бухгалтер
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        5
                    </p>
                </td>

                <td>
                    <p>
                        77328
                    </p>
                </td>

                <td>
                    <p>
                        Мугалим
                    </p>
                </td>

                <td>
                    <p>
                        ГПК
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        6
                    </p>
                </td>

                <td>
                    <p>
                        77331
                    </p>
                </td>

                <td>
                    <p>
                        Русский язык и литература в школах Кыргызстана
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        7
                    </p>
                </td>

                <td>
                    <p>
                        77302
                    </p>
                </td>

                <td>
                    <p>
                        Жетиген
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        8
                    </p>
                </td>

                <td>
                    <p>
                        77327
                    </p>
                </td>

                <td>
                    <p>
                        Шоокум
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        9
                    </p>
                </td>

                <td>
                    <p>
                        77438
                    </p>
                </td>

                <td>
                    <p>
                        Эл агартуу
                    </p>
                </td>
                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>

    

{% include 'footer.html' %}

{% endblock %}