{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



<!-- BOOKS-->
<div class="bg" id="books">
<div class="sec-container">
    <div class="books">
        <div class="books_category">

            <div class="books_box">
                <h2>Категория</h2>
                <div class="books_dropdown">
                    <button onclick="myFunction()" class="books_dropbtn"> Выпадающий</button>
                    <div id="books_myDropdown" class="books_dropdown-content">
                      <a href="#">математика</a>
                      <a href="#">физика</a>
                      <a href="#">психология</a>
                    </div>
            </div>
            </div>

            <div class="books_info">

                <div class="books_inner">

                    {% for book in books %}
                    <div class="books_content">
                        <div class="books_img">
                            <img src="{{ book.photo.url }}" alt="">
                        </div>
                        <div class="books_item">
                            <h4>Название: {{book.title}}</h4>
                            <p>Автор: {{book.author}}</p>
                            <button><a href="{{ book.pdf.url }}">Читать...</a></button>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                </div>


        </div>
    </div>
</div>
</div>



<!-- DIRECTION-->
<div class="sec-container">
    <div class="direction" id="direction">
        <h1 class="direction_title">Правила пользования</h1>
        <div class="direction_img">
            <img src="{% static 'img/direction/1jpg.jpg' %}" alt="">
        </div>
        <div class="direction_text">
            <h2 class="direction_title">Читатели и их права</h2>
            <p>Читатели библиотеки (студенты, профессорско-преподавательский состав, научные работники, аспиранты и
                прочие сотрудники ОшГУ) имеют право бесплатно пользоваться основными видами библиотечно-информационных
                услуг:
            </p>
            <p>
                Слушатели факультета повышения квалификации врачей, клинические ординаторы, аспиранты имеют право
                бесплатного пользования фондами библиотеки только в читальных залах с разрешением руководителя НБ на
                основе удостоверение личности.</p>
            <p>
                Получать полную информацию о составе фондов библиотеки через систему каталогов и картотек и другие формы
                библиотечного информирования.</p>
            <p>
                Получать консультационную помощь в поиске и выборе произведений печати и других документов; Продлевать
                срок пользования литературой.</p>
            <p>
                Читатели университета имеет право пользоваться все факультетских залах</p>
            <p>
                Получать из фонда библиотеки для временного пользования в читальных залах и на абонементах любые
                издания, неопубликованные материалы.</p>

            <h2 class="direction_title">Обязанности читателей</h2>
            <p>Читатели обязаны бережно относиться к книгам, другим произведениям печати и иным материалам, полученным
                из фондов библиотеки, возвращать их в установленные сроки (срок возврата можно уточнить в электронном
                читательском формуляре), не выносить их из помещения библиотеки, если они не записаны в читательском
                формуляре, не делать в них пометок, подчеркиваний, не вырывать и не загибать страницы. </p>
            <p>
                При получении книг, других произведений печати и иных материалов читатели должны тщательно просмотреть
                их и в случае обнаружения каких-либо дефектов сообщить об этом библиотекарю. В противном случае,
                ответственность за порчу книг несет читатель, пользовавшийся изданием последним.</p>
            <p>
                Читатели обязаны бережно обращаться с читательским билетом. Категорически запрещается передавать
                читательский билет другому лицу, а также пользоваться чужим читательским билетом. В случае нарушения
                этого правила читатели могут быть лишены права пользования библиотекой на срок, установленный
                администрацией библиотеки. </p>
            <p>
                Ежегодно читатели обязаны перерегистрировать читательские билеты с предоставлением всей числящейся за
                ними литературы в установленные сроки. Читатели, не прошедшие перерегистрацию, в библиотеке не
                обслуживаются. </p>
            <p>
                При выбытии из университета (академический отпуск, отчисление) читатели обязаны вернуть в библиотеку
                числящиеся за ними издания и сдать читательские билеты, подписать обходной лист.</p>

            <h3 class="direction_title">Внимание!</h3>
            <p>Студенты, имеющие задолженность перед библиотекой на окончание семестра, к сессии не допускаются! При
                повторной сдаче экзамена или зачета студент обязан продлить выданную литературу.</p>
        </div>
    </div>
</div>


<!--   LIBRARY ENTRy-->
<div class="bg">
<div class="sec-container">
    <div class="library_entry" id="library_entry">
        <div class="library_entry-title">
            <h1>Запись в библиотеку</h1>
            <img src="{% static 'img/library entry/1.jpg' %}" alt="">
        </div>

        <p>Читательская карта – основной документ для пользования библиотекой.</p>
        <p>Право на регистрацию в научной библиотеке имеют преподаватели, аспиранты, магистранты, докторанты, студенты,
            сотрудники, учащиеся заочных и подготовительных отделений, учащиеся лицеев.</p>
        <p>Временные сотрудники и приезжие из ОшГУ регистрируются на платной основе.</p>
        <p>Регистрация в библиотеку осуществляется по региональному и отраслевому принципам.</p>
        <ul>
            <p>Чтобы подписаться на библиотеку:</p>

            <li>Паспорт</li>
            <li>Документ, удостоверяющий статус (студенческий билет, аттестат и аттестат о высшем образовании,
                свидетельство о регистрации ОшМУ).</li>
            <li>2 фото</li>
            <li>создание электронного каталога новых изданий (ЭК).</li>
            <li>Выпуск книг из библиотечного фонда переведен в другую базу данных (журнал).</li>
        </ul>

        <p>При регистрации всех читателей читательские документы оформляются на основании регламента библиотеки</p>
        <p>Читательский билет научной библиотеки ОшГУ – это документ, дающий право пользования всеми библиотеками и
            учебными аудиториями.</p>
        <p>Перерегистрация обучающегося осуществляется при переходе с одного курса на другой.</p>
        <p>Для перерегистрации необходимо сдать все книги, полученные по подпискам ИК, и поставить в читательском билете
            отметку об отсутствии задолженности.</p>
        <p>Если читатель имеет задолженность по абонементу, то принимаются меры на основании приказа ректора ОшМУ.</p>
        <p>Если вы потеряете свой читательский билет, вы можете получить дубликат читательского билета, заполнив
            циркулярную форму в библиотеке, которая вас зарегистрировала.</p>
        <p>При отчислении из ОшМУ (отстранении от учебы при уходе в академический отпуск) читатель должен сдать книги,
            полученные по абонементу, вместе с читательским билетом.</p>


    </div>
</div>
</div>


<!-- subscription-->
<div class="sec-container" id="subscription">
    <div class="subscription" >
        <h1>Абонемент</h1>
        <div class="subscription_img">
            <img src="{% static 'img/subscription/1.jpg' %}" alt="">
        </div>
        <p>Абонементтен пайдалануу эрежеси</p>
        <p>Абонементте илимий адабияттар 2 айлык мөөнөт менен төмөнкү санда берилет:</p>
        <ul>
            <li>
                <p>Профессордук-окутуучу курамга, аспиранттарга, магистранттарга, докторанттарга,илимий кызматкерлерге,
                    студент диплом жазуучуларга – 20 даанага чейин</p>
            </li>
            <li>
                <p>Башка категориядагы окурмандарга - 10 даанага чейин.</p>
            </li>
        </ul>
        <p>Окуу программасынын негизинде окуу адабияттары бир семестрге же бир окуу жылына берилет.</p>
        <p>Көркөм адабияттар жана мезгилдик басылмалар 5 даанадан 15 күндүк мөөнөткө берилет.</p>
        <p>Филология жана журналистика факултетинин окурмандарына көркөм адабияттар 10 даанага чейин берилет.</p>
        <p>Окурмандар колдонуп жаткан адабияттардын мөөнөтүн узартууга болот, эгерде ал адабиятка суроо-талап жок болсо.
        </p>
        <p>Баалуу жана таңкыс китептер үйгө берилбейт.</p>
        <p>Жарыяланбаган материалдар (диссертациялар, фонодокументтер ж.б.), чектелген адабияттар белгиленген тартипте
            берилет.</p>
        <p>Жайкы эс алуу мезгилинде окурмандар алган китептерин китепканага белгиленген тартипте тапшырууга милдеттүү.
        </p>

    </div>
</div>

<!-- work_schedule-->
<div class="sec-container">
    <div class="workSchedule" id="workSchedule">
        <h1>Режим работы</h1>
        <img src="{% static 'img/work schedule/1.jpg' %}" alt="">
    </div>
</div>




<!-- GOOD TO KNOW-->
<div class="sec-container">
    <div class="good_know" id="good_to_know">
        <h2 class="good_title">Республиканские газеты и журналы</h2>

        <table class="good_box">
            <tr><td><p><b>№</b></p></td>
                <td><p><b>индекс</b></p></td>
                <td>
                    <p>
                        <b>Наименование</b>
                    </p>
                </td>

                <td>
                    <p>
                        <b>Месторасположение</b>
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p>
                        1
                    </p>
                </td>

                <td>
                    <p>
                        68537
                    </p>
                </td>

                <td>
                    <p>
                        Азия Ньюс
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        2
                    </p>
                </td>

                <td>
                    <p>
                        68544
                    </p>
                </td>

                <td>
                    <p>
                        Аргументы и факты - Кыргызстан (с прил.АиФ Здор.)
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        3
                    </p>
                </td>

                <td>
                    <p>
                        68449
                    </p>
                </td>

                <td>
                    <p>
                        Алиби
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        4
                    </p>
                </td>

                <td>
                    <p>
                        68459
                    </p>
                </td>

                <td>
                    <p>
                        Ай-Данек
                    </p>
                </td>

                <td>
                    <p>
                        Зирек
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        5
                    </p>
                </td>

                <td>
                    <p>
                        68472
                    </p>
                </td>

                <td>
                    <p>
                        Де-факто плюс
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        6
                    </p>
                </td>

                <td>
                    <p>
                        68403
                    </p>
                </td>

                <td>
                    <p>
                        Дело №
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        7
                    </p>
                </td>

                <td>
                    <p>
                        68606
                    </p>
                </td>

                <td>
                    <p>
                        Жа&#1187;ы ордо
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        8
                    </p>
                </td>

                <td>
                    <p>
                        31470
                    </p>
                </td>

                <td>
                    <p>
                        Комсомольская правда
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        9
                    </p>
                </td>

                <td>
                    <p>
                        68411
                    </p>
                </td>

                <td>
                    <p>
                        Кутбилим
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        10
                    </p>
                </td>

                <td>
                    <p>
                        68418
                    </p>
                </td>

                <td>
                    <p>
                        Кутбилим сабак
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        11
                    </p>
                </td>

                <td>
                    <p>
                        68416
                    </p>
                </td>

                <td>
                    <p>
                        Кыргыз Туусу
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        12
                    </p>
                </td>

                <td>
                    <p>
                        68407
                    </p>
                </td>

                <td>
                    <p>
                        Московский комсомолец – Азия
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        13
                    </p>
                </td>

                <td>
                    <p>
                        68484
                    </p>
                </td>

                <td>
                    <p>
                        Кыргыз тили
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        14
                    </p>
                </td>

                <td>
                    <p>
                        68504
                    </p>
                </td>

                <td>
                    <p>
                        Ош шамы
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        15
                    </p>
                </td>

                <td>
                    <p>
                        68420
                    </p>
                </td>

                <td>
                    <p>
                        Ош жа&#1187;ырыгы
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        16
                    </p>
                </td>

                <td>
                    <p>
                        68419
                    </p>
                </td>

                <td>
                    <p>
                        Общественый рейтинг
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        17
                    </p>
                </td>

                <td>
                    <p>
                        68415
                    </p>
                </td>

                <td>
                    <p>
                        Слово Кыргызстана
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        18
                    </p>
                </td>

                <td>
                    <p>
                        68400
                    </p>
                </td>

                <td>
                    <p>
                        Совершенно не секретно
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        19
                    </p>
                </td>

                <td>
                    <p>
                        68527
                    </p>
                </td>

                <td>
                    <p>
                        Супер инфо
                    </p>
                </td>

                <td>
                    <p>
                        жатакана
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        20
                    </p>
                </td>

                <td>
                    <p>
                        68548
                    </p>
                </td>

                <td>
                    <p>
                        Тил жана маданият
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        21
                    </p>
                </td>

                <td>
                    <p>
                        68421
                    </p>
                </td>

                <td>
                    <p>
                        Эхо Оша
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        22
                    </p>
                </td>

                <td>
                    <p>
                        68422
                    </p>
                </td>

                <td>
                    <p>
                        Уш Садоси
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        23
                    </p>
                </td>

                <td>
                    <p>
                        68451
                    </p>
                </td>

                <td>
                    <p>
                        Эркин Тоо
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        24
                    </p>
                </td>

                <td>
                    <p>
                        32185
                    </p>
                </td>

                <td>
                    <p>
                        Российская газета
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>

        </table>

        <table class="good_box">

            <h2 class="good_title">Журналы</h2>

            <tr>
                <td>
                    <p>
                        1
                    </p>
                </td>

                <td>
                    <p>
                        77324
                    </p>
                </td>

                <td>
                    <p>
                        Жа&#1187;ы Ала Тоо
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        2
                    </p>
                </td>

                <td>
                    <p>
                        77406
                    </p>
                </td>

                <td>
                    <p>
                        Балакай
                    </p>
                </td>

                <td>
                    <p>
                        искусство
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        3
                    </p>
                </td>

                <td>
                    <p>
                        77305
                    </p>
                </td>

                <td>
                    <p>
                        Байчечекей
                    </p>
                </td>

                <td>
                    <p>
                        Зирек, ГПК
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        4
                    </p>
                </td>

                <td>
                    <p>
                        77312
                    </p>
                </td>

                <td>
                    <p>
                        Главный бухгалтер
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        5
                    </p>
                </td>

                <td>
                    <p>
                        77328
                    </p>
                </td>

                <td>
                    <p>
                        Мугалим
                    </p>
                </td>

                <td>
                    <p>
                        ГПК
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        6
                    </p>
                </td>

                <td>
                    <p>
                        77331
                    </p>
                </td>

                <td>
                    <p>
                        Русский язык и литература в школах Кыргызстана
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        7
                    </p>
                </td>

                <td>
                    <p>
                        77302
                    </p>
                </td>

                <td>
                    <p>
                        Жетиген
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        8
                    </p>
                </td>

                <td>
                    <p>
                        77327
                    </p>
                </td>

                <td>
                    <p>
                        Шоокум
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        9
                    </p>
                </td>

                <td>
                    <p>
                        77438
                    </p>
                </td>

                <td>
                    <p>
                        Эл агартуу
                    </p>
                </td>
                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>




{% include 'footer.html' %}

{% endblock %}