{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">






<!-- BOOKS-->
<div class="bg" id="books">
    <div class="books">
        <h1 class="books_title">Книги</h1>

        <div class="books_category">
            <div class="books_box">
                <h2>Категория</h2>

                <div class="dropdown">
                    <button onclick="myFunction1()" class="dropbtn dropbtn1">Гуманитарные наука</button>
                    <div id="myDropdown1" class="dropdown-content">
                        <a href="#">Исторические науки</a>
                        <a href="#">Экономические науки</a>
                        <a href="#">Философские науки</a>
                        <a href="#">Филологические науки</a>
                        <a href="#">Социологические науки</a>
                        <a href="#">Политические науки</a>
                        <a href="#">Культурология</a>
                        <a href="#">Архитектура</a>
                        <a href="#">Библиотековедение, библиографоведение и книговедение</a>
                        <a href="#">Юридические науки</a>
                        <a href="#">Педагогические науки</a>
                        <a href="#">Искусствоведение</a>
                        <a href="#">Психологические науки</a>
                    </div> 
                </div> 

                <div class="dropdown">
                    <button onclick="myFunction2()" class="dropbtn dropbtn2">Естественные науки</button>
                    <div id="myDropdown2" class="dropdown-content">
                        <a href="#">Физико-математические науки</a>
                        <a href="#">Химические науки</a>
                        <a href="#">Биологические науки</a>
                        <a href="#">Сельскохозяйственные науки</a>
                        <a href="#">Медицинские науки</a>
                        <a href="#">Науки о земле</a>
                        <a href="#">Ветеринарные науки</a>
                    </div>
                </div>

                
                <div class="dropdown">
                    <button onclick="myFunction3()" class="dropbtn dropbtn3">Технические науки</button>
                    <div id="myDropdown3" class="dropdown-content">
                        <a href="#">Энергетическое, металлургическое и химическое машиностроение</a>
                        <a href="#">Транспортное, горное и строительное машиностроение</a>
                        <a href="#">Кораблестроение</a>
                        <a href="#">Радиотехника и связь</a>
                        <a href="#">Информатика, вычислительная техника и управление</a>
                        <a href="#">Энергетика</a>
                        <a href="#">Химическая технология</a>
                        <a href="#">Технология производственных продуктов</a>
                        <a href="#">Технология материалов и изделий текстильной и легкой промышленности</a>
                        <a href="#">Процессы и машины агроинженерных систем</a>
                        <a href="#">Технология, машины и оборудование для лесозагатовок</a>
                        <a href="#">Транспорт</a>
                        <a href="#">Строительство</a>
                        <a href="#">История науки и техники</a>
                        <a href="#">Электротехника</a>
                        <a href="#">Инженерная геометрия и компьютерная графика</a>
                        <a href="#">Машиностроение и машиноведение</a>
                        <a href="#">Авиационная и ракетно-космическая техника</a>
                        <a href="#">Приборостроение</a>
                        <a href="#">Электроника</a>
                        <a href="#">Металлургия</a>
                        <a href="#">Документальная информация</a>
                        <a href="#">Информационные системы и процессы, правовые аспекты информатики</a>
                    </div>
                </div>


            </div>

            <!-- <div class="books_drop">
                        <ul>
                            <li>
                                <a href="{% url 'books' %}">{% trans 'Все книги' %}</a>
                            </li>
                            {% for category in categories %}
                            <li>
                                <a href="{% url 'readers' %}?category={{category.name}}">{{category.name}}</a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div> -->

            <div class="books_info">

                <div class="books_inner">

                    <div class="books_slick-slider">
                        {% for book in books %}
                        <div class="books_content">
                            <div class="books_img">
                                <img src="{{ book.photo.url }}" alt="">
                            </div>
                            <div class="books_item">
                                <h4>{{book.title}}</h4>
                                <p>{{book.author}}</p>
                                <p class="books_text">{{book.category.name}}</p>
                                <button class="books_btn">
                                    <a href="{{ book.pdf.url }}">
                                        {% trans 'Читать' %}
                                    </a>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<!--   LIBRARY ENTRy-->
<div class="bg" id="direction">
    <div class="sec-container">
        {% for r in reader %}
        <div class="library_entry" id="library_entry">
            <div class="library_entry-title">
                <h1>{{r.title}}</h1>
                <img src="{{r.image.url}}" alt="">
            </div>
            <p>{{r.text|safe}}</p>
        </div>
        {% endfor %}
    </div>
</div>


<!-- GOOD TO KNOW-->
<div class="sec-container">
    <div class="good_know" id="good_to_know">
        <h2 class="good_title">{% trans 'Республиканские газеты и журналы' %}</h2>

        <table class="good_box">
            <tr>
                <td>
                    <p><b>№</b></p>
                </td>
                <td>
                    <p><b>индекс</b></p>
                </td>
                <td>
                    <p>
                        <b>Наименование</b>
                    </p>
                </td>

                <td>
                    <p>
                        <b>Месторасположение</b>
                    </p>
                </td>
            </tr>

            {% for newspaper in newspapers %}
            <tr>
                <td>
                    <p>
                        {{newspaper.id}}
                    </p>
                </td>

                <td>
                    <p>
                        {{newspaper.number}}
                    </p>
                </td>

                <td>
                    <p>
                        {{newspaper.title}}
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>

            {% endfor %}

        </table>

        <table class="good_box">

            <h2 class="good_title">Журналы</h2>

            {% for journal in journals %}
            <tr>
                <td>
                    <p>
                        {{journal.id}}
                    </p>
                </td>

                <td>
                    <p>
                        {{journal.number}}
                    </p>
                </td>

                <td>
                    <p>
                        {{journal.title}}
                    </p>
                </td>

                <td>
                    <p>
                        чит.зал ИБО
                    </p>
                </td>
            </tr>
            {%endfor%}


        </table>
        <p>
            <a href="https://journal.oshsu.kg/index.php/index/index">Ош Мамлекеттик Университетинин Илимий
                Журналдары</a>
        </p>


    </div>
</div>



{% include 'footer.html' %}

{% endblock %}