{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">




	<div class="sec-container">
		<div class="contact">
			<h1>Структура</h1>
			<table class="contact_box">
				<tr>
					<th>Полное официальное наименование библиотеки:</th>
					<td>Научная библиотека Ошского Государственного университета</td>
				</tr>
				<tr>
					<th>Сокращенное наименование:</th>
					<td>НБ ОшГУ</td>
				</tr>
				<tr>
					<th>Почтовый адрес:</th>
					<td>Кыргызская Республика, 723500, г. Ош, ул. Ленина, 333</td>
				</tr>
				<tr>
					<th>Телефон:</th>
					<td>(03222) 7-07-59</td>
				</tr>
				<tr>
					<th>Телефон/факс:</th>
					<td>(03222) 7-09-15</td>
				</tr>
				<tr>
					<th>Директор:</th>
					<td>А. А. Эсекеева</td>
				</tr>	
				<tr><th>Главный библиотекарь</th>
					<td>5</td>
					</tr>
					<tr>
					<th>Старший библиотекарь</th>
					<td>16</td>
					</tr>
					<tr>
					<th>Библиотекарь</th>
					<td>70</td>
					</tr>
					<tr>
					<th>Библиограф</th>
					<td>1</td>
					</tr>
					<tr>
					<th>Инженер-програмист</th>
					<td>2</td>
				</tr>  

				<tr>
					<th>Информационно-библиографический отдел</th>
					<td>Мамбетова Сайраш Сатындиевна Mambetova-1958@mail.ru</td>
				</tr>  
				<tr>
					<th>Одел хранения книги</th>
					<td>Жапаркулова Салийма Меймановна, Salima68-68@mail.ru</td>
				</tr> 
				<tr>
					<th>Отдел коплектование</th>
					<td>#</td>
				</tr>  
			  </table>

		</div>
	</div>


{% include 'footer.html' %}

{% endblock %}
