{% extends 'index.html' %}
{% load embed_video_tags %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



	<div class="sec-container">
		<div class="video">
			<h1 class="video_title">Видео</h1>
	
			<div class="video_inner">

				{% for item in videos %}

				<div class="video_box">
					<div class="video_item">

							{% video item.url %}
<!--							<div class="video_img "-->
<!--								style="background-image: url(https://i.ytimg.com/vi/gzbLODUb1sA/maxresdefault.jpg)">-->
<!--								<div class="img_bg"></div>-->
<!--							</div>-->

					</div>
					<div class="video_index">{{item.added|date:"d.m.Y"}}</div>
					<a href="/">
						<h2>{{item.title}}</h2>
					</a>
				</div>
				{% endfor %}

			</div>
	
		</div>
	</div>


{% include 'footer.html' %}

{% endblock %}
