{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



	<div class="sec-container">
		<div class="video">
			<h1 class="video_title">Видео</h1>
	
			<div class="video_inner-only">
	
				<div class="video_box-only">
					<div class="video_item-only">

						<iframe  src="https://www.youtube-nocookie.com/embed/BnnbP7pCIvQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							
					</div>
					<div class="video_index"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
					<div class="video_content-only">
						<h2>CYBERPUNK 2077 SOUNDTRACK - WHO'S READY FOR TOMORROW by Rat Boy & IBDY (Official Video)</h2>
						<p>Full song credits here</p>
					</div>
				</div>




	
				<div class="video_box-only2">
	
					<div class="video_block-only2">
						<div class="video_item-only2">
							<a href="{% url 'videoOnly' %}">
								<div class="video_img-only2"
									style="background-image: url(https://i.ytimg.com/vi/Uc59ulnJI2o/maxresdefault.jpg)">
									<div class="img_bg"></div>
								</div>
							</a>
						</div>
						<div class="video_index"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
						<a href="{% url 'videoOnly' %}">
							<h2>TheFatRat & Anjulie - Love It When You Hurt Me [Chapter 9]</h2>
						</a>
					</div>

					<div class="video_block-only2">
						<div class="video_item-only2">
							<a href="{% url 'videoOnly' %}">
								<div class="video_img-only2"
									style="background-image: url(https://i.ytimg.com/vi/W2TE0DjdNqI/maxresdefault.jpg)">
									<div class="img_bg"></div>
								</div>
							</a>
						</div>
						<div class="video_index"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
						<a href="{% url 'videoOnly' %}">
							<h2>Porter Robinson - Goodbye To A World (Official Audio)</h2>
						</a>
					</div>

					<div class="video_block-only2">
						<div class="video_item-only2">
							<a href="{% url 'videoOnly' %}">
								<div class="video_img-only2"
									style="background-image: url(https://i.ytimg.com/vi/cMg8KaMdDYo/maxresdefault.jpg)">
									<div class="img_bg"></div>
								</div>
							</a>
						</div>
						<div class="video_index"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
						<a href="{% url 'videoOnly' %}">
							<h2>TheFatRat - Fly Away feat. Anjulie</h2>
						</a>
					</div>

					<div class="video_block-only2">
						<div class="video_item-only2">
							<a href="{% url 'videoOnly' %}">
								<div class="video_img-only2"
									style="background-image: url(https://i.ytimg.com/vi/gzbLODUb1sA/maxresdefault.jpg)">
									<div class="img_bg"></div>
								</div>
							</a>
						</div>
						<div class="video_index"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
						<a href="{% url 'videoOnly' %}">
							<h2>CYBERPUNK 2077 SOUNDTRACK - WHO'S READY FOR TOMORROW by Rat Boy & IBDY (Official Video)</h2>
						</a>
					</div>

				</div>
			</div>
	
		</div>
	</div>


{% include 'footer.html' %}

{% endblock %}
