{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">



	<div class="sec-container">
		<div class="video">
			<h1 class="video_title">Видео</h1>
	
			<div class="video_inner">
	
				<div class="video_box">
					<div class="video_item">
						<a href="{% url 'videoOnly' %}">
							<div class="video_img "
								style="background-image: url(https://i.ytimg.com/vi/gzbLODUb1sA/maxresdefault.jpg)">
								<div class="img_bg"></div>
							</div>
						</a>
					</div>
					<div class="video_index"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
					<a href="{% url 'videoOnly' %}">
						<h2>TheFatRat & Anjulie - Love It When You Hurt Me [Chapter 9]</h2>
					</a>
				</div>
	
				<div class="video_box">
					<div class="video_item">
						<a href="{% url 'videoOnly' %}">
							<div class="video_img "
								style="background-image: url(https://i.ytimg.com/vi/gzbLODUb1sA/maxresdefault.jpg)">
								<div class="img_bg"></div>
							</div>
						</a>
					</div>
					<div class="video_index"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
					<a href="{% url 'videoOnly' %}">
						<h2>TheFatRat & Anjulie - Love It When You Hurt Me [Chapter 9]</h2>
					</a>
				</div>
	
				<div class="video_box">
					<div class="video_item">
						<a href="{% url 'videoOnly' %}">
							<div class="video_img "
								style="background-image: url(https://i.ytimg.com/vi/gzbLODUb1sA/maxresdefault.jpg)">
								<div class="img_bg"></div>
							</div>
						</a>
					</div>
					<div class="video_index"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
					<a href="{% url 'videoOnly' %}">
						<h2>TheFatRat & Anjulie - Love It When You Hurt Me [Chapter 9]</h2>
					</a>
				</div>
	
				<div class="video_box">
					<div class="video_item">
						<a href="{% url 'videoOnly' %}">
							<div class="video_img "
								style="background-image: url(https://i.ytimg.com/vi/gzbLODUb1sA/maxresdefault.jpg)">
								<div class="img_bg"></div>
							</div>
						</a>
					</div>
					<div class="video_index"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
					<a href="{% url 'videoOnly' %}">
						<h2>TheFatRat & Anjulie - Love It When You Hurt Me [Chapter 9]</h2>
					</a>
				</div>

			</div>
	
		</div>
	</div>


{% include 'footer.html' %}

{% endblock %}
