* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

.container {
	width: 85%;
	margin: 0 auto;
}

.logo {
	width: 180px;
}
.navbar_language a{
	text-decoration: none;
	color: #000;
  text-transform: uppercase;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #9bc7d5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 95%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  text-transform: uppercase;
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #000;
  font-size: 17px;
  font-weight: 500;
}
.navbar .links li a:hover{
	color: #333;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

.bxs-chevron-down:before,
.bx-x:before,
.bx-menu:before{
	color: #000;
}
.bx-x:before,
.bx-menu:before{
	font-size: 35px;
}

nav .navbar .links li .arrow{
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #9bc7d5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  width: 46px;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}


// /* HEADER */
.header{
	width: 100%;
	margin: 100px 0 50px;
}

.header_title {
	text-align: center;
	font-size: 40px;
	padding: {
		bottom: 10px;
	}

	a {
		color: #3769B0;
		text-decoration: none;
	}
}


/* FOOTER */
.footer {
	padding: 20px;
	width: 100%;
	background-color: #EDEBEB;
}
.footer_item {
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.footer_box {
	margin: {
		top: 20px;
	}
}
.footer_title {
	color: #309AAC;
	font-size: 24px;
	text-transform: uppercase;
	padding: 15px;
}
.footer_text {
	padding: 10px;
	font-size: 16px;
	line-height: 1.5em;
}


/* COPYRIGHT */
.copyright {
	background-color: #333;
	text-align: center;
	padding: 20px;
}
.copyright_title {
	color: #fff;
	font-size: 14px;
}
.copyright_text {
	color: #999;
	font-size: 16px;
}