@import "./normalize.scss";

span{
	color: #000;
	font-weight: bold;
}

.img_bg{
	content: "";
		background: #000;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
		opacity: 0;
		transition: 0.3s all ease;
}

.bg{
	background: #EBECF0;
	padding: 5px;
}

.sec-container{
	width: 87%;
	margin: 0 auto;
}

/* ABOUT */

.about{
	margin: 50px 0 100px;
	.about_title{
		color: #309AAC;
		padding: 20px;
		font-size: 30px;
		text-align: center;
	}
	.about_text{
		font-size: 18px;
		padding: 15px;

	}
}


/* NEWS & ADT */
.news{
	width: 90%;
	margin: 50px auto 100px;
}

.news_inner{
	width: 100%;
	display: flex;
}

.news_item{
	width: 100%;
}

.news_title{
	text-align: center;
    color: #309AAC;
	padding: 30px;
	font-weight: 600;
	width: 100%;
}

.news_box{
	display: flex;
	flex-wrap: wrap;
}

.news_view{
	margin: 50px 20px 10px 20px;
	width: 400px;
	height: 300px;
}

.news_info{
	width: 100%;
	height: 200px;
	overflow: hidden;
	border-radius: 5px;
}	

.news-info{
	box-shadow: -5px -5px 20px #333 , 5px 5px 20px #333;
	border-radius: 20px;
	background-color: #fff;
	width: 70%;
	height: auto;
	padding: 10px 20px;
	position: relative;
	margin: 20px 0;
}

.news_info a{
	text-decoration: none;
	color: #000;
}

.news_img{
	border-radius: 5px;
	width: 100%;
	height: 100%;
	transition: 0.3s all linear;
}

.news_img:hover{
	scale: (1.1);
}

.news_img-info{
	width: 42px;
}
.news_content a{
	text-decoration: none;
	color: #000;
}
.news_text p{	
	padding: 10px;
}

.news_index{
	padding: 10px;
	color: #666;
}

.news_logo{
	display: flex;
	align-items: center;
	padding: {
		bottom: 15px;
		top:10px;
		left: 5px;
	}
}

.news_logo p{
	padding: 5px;
}


// NEWS_ONLY
.news_only{
	width: 100%;
	margin: 50px 0 100px;
}

.news_box-only{
	width: 100%;
	display: flex;
}

.news_block-1{
	width: 70%;
}

.news_block-2{
	width: 30%;
}

.news_block-only{
	width: 95%;
}
.news_slick-slider .slick-prev::before, .slick-next:before{
	color: #000 !important;
}

.news_img-only{
	width: 100%;
	height: 500px;
}

.news_title-only{
	font-weight: 500;
	font-size: 20px;
	padding: 0 0 15px;
}

.news_index-only{
	padding: 20px 0;
	color: #666;
}

.news_several{
	width: 100%;
	height: 280px;
	border-radius: 10px;
	margin: 0 0 25px;
}

.news_in-only{
	width: 100%;
	height: 210px;
}

.news_hidden-only{
	overflow: hidden;
}

.news_img-only2{
	width: 100%;
	height: 100%;
}

.news_index-only2{
	padding: 5px;
	color: #666;
}

.news_text a{
	text-decoration: none;
	color: #000;
}

.news_text p{
	padding: 5px;
}
.news_post-only{
	padding: 20px 0;
	a{
		margin-right: 15px;
	}
	img{
		width: 32px;
	}
}





// CATALOG
.catalog{
	width: 100%;
	
	.catalog_title{
		color: #309AAC;
		text-align: center;
		padding: 20px;
	}

	.catalog_text{
		padding: 15px;
		font-size: 17px;		
	}
	.catalog_box{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: {
			top: 40px;
			bottom: 40px;
		}
	}
	.catalog_img{
		border-radius: 12px;
		width: 500px;
	}

	.catalog_box {
		.catalog_img{
			padding: 20px 0;
			height: 400px;
		}
	}

	.catalog_link a{
		text-decoration: none;
		color: #333;
		transition: 0.2s linear;
	} 
	.catalog_link a:hover{
		color: #309AAC;
	}

	ul{
		padding: 0 10px 0 40px;
		li{
			
			padding: 5px 0 10px; 
			font-weight: 500;
		}
	}
	
	a{
		text-decoration: none;
		color: #0d3a9bb0;
		font-size: 17px;
		padding: {
			top: 10px;
		}
	}
	a:hover{
		color: #333;
	}

	.catalog_irbis{
		text-align: center;
		padding-bottom: 10px;
	}	
}
.catalog-irbis{
	padding-bottom: 100px;
}


// CONTACT
.contact{
	margin: 50px 0 100px;
	.map{
		margin-bottom: 100px;
	}
	h1{
		text-align: center;
		color: #309AAC;
		padding: 50px;
	}
	.contact_text{
		font-size: 18px;
		color: #000;
	}
	.contact_box{
		tr{
			margin: 20px;
		}

		th{
			width: 300px;
			padding: 10px 40px;
		}
	}
}

.direction{
	width: 100%;
	margin: {
		top: 50px;
		bottom: 100px;
	} 

	.direction_title{
		color: #309AAC;
		text-align: center;
		padding: 30px;
	}
	.direction_img{
		width: 500px;
		margin: 0 auto;
	}
	img{
		width: 500px;
	}
	p{
		font-size: 16px;
		padding: 15px;
	}
}


// GOOD TO KNOW
 .good_know{
	text-align: center;
	margin: 50px auto 100px;
	width: 70%;

	.good_title{
		padding: 20px;
		color: #309AAC;
	}

	td{
		border: {
		
			bottom: 1px solid #000; 
		}
		padding: {
			top: 10px;
			right: 10px;
			bottom: 10px;
			left: 10px;
		}
	}
 }


// HISTORY
.history{
	margin: 50px 0 100px;
	h1{
		text-align: center;
		color: #309AAC;
		padding: 20px;
	}
	p{
		font-size: 18px;
		padding: 10px;
	}
	.history_img{
		width: 500px;
		margin: 10px auto;
	}
	
	img{
		width: 500px;

	}
}


// LIBRARY ENTRY
.library_entry{
	margin: 50px auto 100px;
	.library_entry-title{
		margin: 0 auto;
		text-align: center;
		width: 80%;
		padding: 20px;
		h1{
			padding: 20px;
			color: #309AAC;
		}
		img{
			width: 100%;
		}
	}
	p{
		font-size: 18px;
		padding: 20px;
	}
	ul{
		font-size: 18px;
		padding: 15px;
	}
	ul li{
		padding: 10px;
	}
	h3{
		text-align: center;
	}

}


// MISSION
.mission{
	margin: 50px auto 100px;
	.mission_title{
		padding: 20px;
		text-align: center;
		color: #309AAC;
	}
	p{
		font-size: 18px;
		color: #333;
	}
}



// PHOTO
.photo_title{
	width: 100%;
	text-align: center;
	color: #309AAC;
	padding: 30px;
}
.photo{
	margin: {
		top: 50px;
		bottom: 100px;
	}
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	.photo_inner{
		width: 400px;
		height: 250px;
		margin: 30px 20px;
	}
	.photo_item{
		width: 100%;
		height: 200px;
		overflow: hidden;
		border-radius: 20px;
		
	}
	.photo_box{
		width: 100%;
	}
	.photo_img{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
		transition: 0.3s linear;
		position: relative;
	}
	.photo_img:hover{
		scale: (1.1);
	}
	.photo_item:hover{ 
		.photo_img::before{
		opacity: 0.3;
		visibility: visible;
	}
}
	.photo_img::before{
		content: "";
		background: #000;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 4;
		opacity: 0;
		transition: 0.3s all ease;
	}
	.photo_index{
		padding: 10px;
		color: #666;
	}
	h2{
		font-size: 18px;
		padding:  0 10px;
	}

}

// PHOTO ONLY
.photo_only{
	margin: 50px 0 100px;
	.photo_block-only{
		display: flex;
		width: 100%;
	}
	.photo_inner-only{
		width: 75%;
	}
	.photo_inner-only2{
		width: 25%;
	}
	.photo_box-only{
		width: 95%;
	}
	.photo_slick-slider .slick-prev::before, .slick-next:before{
		color: #000 !important;
	}
	.photo_img-only{
		width: 100%;
		height: 500px;
	}
	.photo_index-only{
		color: #666;
		padding: 10px 0;
	}
	.photo_content-only{
		h2{
			padding: 10px 0;
		}
		p{
			padding: 10px 0;
		}
	}
	.photo_box-only2{
		width: 100%;
		height: 280px;
		margin: 0 0 30px;
	}
	.photo_item-only2{
		width: 100%;
		height: 200px;
	}
	.photo_img-only2{
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}





// VIDEO
.video{
	margin: 0 0 100px;
	.video_title{
		color: #309AAC;
		padding: 30px;
		text-align: center;
	}
	.video_inner{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.video_box{
		margin: 5px 20px 50px;
		width: 400px;
		height: 300px;
	}
	.video_item{
		width: 100%;
		height: 200px;
		overflow: hidden;
	}
	.video_img{
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		transition: 0.3s linear;
		position: relative;
	}
	.video_img:hover{
		scale: (1.1);
		.img_bg{
			opacity: 0.3;
		}
		
	}
	.video_index{
		color: #666;
		padding: 10px 0;
		font-size: 16px;
	}
	a{
		text-decoration: none;
		
	}
	h2{
		color: #000;
		font-size: 17px;
	}
}


// VIDEO ONLY
iframe{
	width: 100%;
	height: 100%;
}
.video_inner-only{
	width: 100%;
	display: flex;
}

.video_box-only{
	width: 75%;
}

.video_box-only2{
	width: 25%;
}

.video_item-only{
	width: 95%;
	height: 500px;
}

.video_img-only2{
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}
.video_item-only2:hover{
	.img_bg{
		opacity: 0.3;
	}
}

.video_content-only{
	h2{
		padding: 10px 0;
	}
	p{
		padding: 10px 0;
	}
}

.video_item-only2{
	width: 100%;
	height: 200px;
}

.video_block-only2{
	width: 100%;
	height: 280px;
	margin: 0 0 30px;
}


// WORK SCHEDULE
.workSchedule{
	margin: {
		top: 50px;
		bottom: 100px;
	}
	h1{
		text-align: center;
		color: #309AAC;
		padding: 30px;
	}
	img{
		width: 100%;

	}
}

// SUBSRIBTION
.subscription{
	margin: {
		top: 50px;
		bottom: 100px;
	}
	h1{
		color: #309AAC;
		padding: 30px;
		text-align: center;
	}
	.subscription_img{
		margin: 20px auto;
		width: 60%;
		img{
			width: 100%;
		}
	}
	
}



// STRUCTURE
.structure{
	margin: 0 0 100px;
	padding: 0 0 50px;
	.structure_title{
		color: #309AAC;
		width: 100%;
		text-align: center;
		padding: 30px;
	}
	.structure_inner{
		width: 100%;
	}
	.structure_item{
		position: relative;
		a{
			text-decoration: none;
			color: #000;
		}
	}

	.structure_item::before{
	content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #000;
    transform: translate(-15px,12px);
	}

	h3{
		padding: 10px;
		position: relative;
		transition: 0.2s linear;
	}
	h3:hover{
		color: #309AAC;
	}

	h3:before{
	content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: #000;
    transform: translate(-15px,12px);
	}
	.structure_box{
		width: 100%;
		display: flex;
				
		a{	
			text-decoration: none;
			padding: 20px;
			color: #000;
			transition: 0.2s linear;
		}
		a:hover{
			color: #309AAC
		}
	}
}




// PERSONAL
.personal{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 50px 0;

	.personal_icon{
		padding: 20px 10px 0;
	}
	.personal_icon i {
		padding-left: 20px;
		cursor: pointer;
	}
	.personal_box{
		display: flex;
		width: 70%;
		.personal_photo{
			margin-top: 20px;
			width: 150px;
			height: 120px;
		}
		img{
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}
		.personal_info{
			padding: 20px;
			width: 100%;
			h4{
				width: 90px;
			}
			input{
				padding: 5px;
			}
			.personal_btn{
				margin: 10px 0 0 10px;
				background-color: #309AAC;
				color: #fff;
				padding: 10px;
				border-radius: 10px;
				border: none;
				cursor: pointer;
				font-size: 18px;
				transition: .3s linear;
			}
			.personal_btn:hover{
				background-color: #3dc6de;
				box-shadow: 4px 3px 2px #dee2e6, -4px 3px 2px #dee2e6;
			}
		}
		.personal_item{
			display: flex;
			padding: 10px 0;
			h4{
				font-weight: 500;
				font-size: 16px;
			}
			p{
				font-size: 14px;
			}
		}
	}
	
	.personal_inner{
		width: 30%;
		.personal_block{
			border: 1px solid;
			border-bottom: none;
		}
		
	border-bottom: none;
		text-align: center;
		h3{
			padding: 10px;
			color: #309AAC;
			border-bottom: 1px solid #666;
		}
	}
	.personal_inner ul{
		padding: 0;
	}
	.personal_inner ul li{
		list-style: none;
		width: 100%;
		border-bottom: 1px solid #666;
		width: 100%;
	}
	.personal_title{
		text-decoration: none;
		color: #000;
		padding: 2px 0;
		
	}
}

//INFO LIB

.info_lib{
	margin: 100px 0;
	width: 100%;
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	  }
	  
	  td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	  }
	  
	  tr:nth-child(even) {
		background-color: #dddddd;
	  }
}



// LIB
.lib{
		width: 100%;
		.lib_info{
			color: #666;
			display: flex;
			justify-content: center;
			p{
				padding: 10px;
			}
		}
	.lib_inner{
		margin: 20px auto;
		width: 50%;
		h1{
			color: #309AAC;
			padding: 20px;
			text-align: center
		}
		.lib_form{
			padding: 20px;
			border: 1px solid;
			border-radius: 20px;
			.form-group{
				padding: 10px;
				input{
					padding: 5px;
				}
				.form_btn{
					padding: 10px;
					border-radius: 10px;
					font-size: 16px;
					background-color: #309AAC;
					border: none;
					cursor: pointer;
					color: #fff;
					transition: .3s linear;
				}
				.form_btn:hover{
					background-color: #3fc4db;
				}
			}
		}
	}
}




// BOOKS
.books{
	margin: 50px 0;
	width: 100%;
	padding: 100px 10px;
	.books_category{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	.books_box{
		width: 20%;
		padding: 10px;
		border-right: 1px #333 solid;
		
		h2{
			padding: 20px;
			text-align: center;
			color: #309AAC;
		}

		.books_dropbtn {
			background-color: #3498DB;
			color: white;
			padding: 16px;
			font-size: 16px;
			border: none;
			cursor: pointer;
		  }
		  
		  .books_dropbtn:hover, .books_dropbtn:focus {
			background-color: #2980B9;
		  }
		  
		  .books_dropdown {
			position: relative;
			display: inline-block;
		  }
		  
		  .books_dropdown-content {
			display: none;
			position: absolute;
			background-color: #f1f1f1;
			min-width: 160px;
			overflow: auto;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		  }
		  
		  .books_dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		  }
		  
		  .books_dropdown a:hover {background-color: #ddd;}
		  
		  .show {display: block;}

		p{
			margin: 10px;
			padding: 5px;
			background-color: #fff;
			cursor: pointer;
			transition: .3s linear;
		}
		p:hover{
			background-color: #EBECF0;
			box-shadow: -2px -3px 3px #dee2e6 , 2px 3px 3px #dee2e6, -2px 3px 3px #dee2e6, 2px -3px 3px #dee2e6;
		}
	}
	.books_info{
		width: 80%;


		.books_search{
			margin: 20px;
			.books_search-inp{
				padding: 10px;
			}
			.books_search-btn{
				padding: 10px;
			}
		}

		.books_inner{
			width: 100%;
		}
		

		.books_content{
			padding: 3px;
			margin: 10px 20px !important;
			background-color: #fff;
			width: 85% !important;
			height: 400px !important;
			

			.books_img{
				margin: 0 0 10px;
				width: 100%;
				height: 230px;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.books_item{
				h4{
					font-size: 14px;
					padding: 5px 10px;
				}
				p{
					font-size: 12px;
					padding: 5px;
					
				}
				.books_text{
					font-size: 12px;
					padding: 5px;
					margin: 0 0 30px;
				}
				button{
				
					padding: 5px;
					border: none;
					border-radius: 15px;
					background-color: #309AAC;
					

					a{
						font-size: 14px;
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}

}


// BOOKS ONLY
.books_inner-only{
	display: flex;
	flex-wrap: wrap;
}
.books_content-only{
	padding: 3px;
	margin: 15px 10px;
	background-color: #c9bfbf;
	width: 20%;

	.books_img{
		margin: 0 0 10px;
		width: 100%;
		height: 230px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.books_item{
		h4{
			font-size: 14px;
			padding: 5px 10px;
		}
		p{
			font-size: 12px;
			padding: 5px;
			
		}
		.books_text{
			font-size: 12px;
			padding: 5px;
			margin: 0 0 30px;
		}
		button{
		
			padding: 5px;
			border: none;
			border-radius: 15px;
			background-color: #309AAC;
			

			a{
				font-size: 14px;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

.books_box-only{
	width: 15%;
	padding: 10px;
	border-right: 1px #333 solid;
	
	h2{
		padding: 20px;
		text-align: center;
		color: #309AAC;
	}

	.books_dropbtn {
		background-color: #3498DB;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		cursor: pointer;
	  }
	  
	  .books_dropbtn:hover, .books_dropbtn:focus {
		background-color: #2980B9;
	  }
	  
	  .books_dropdown {
		position: relative;
		display: inline-block;
	  }
	  
	  .books_dropdown-content {
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 160px;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	  }
	  
	  .books_dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	  }
	  
	  .books_dropdown a:hover {background-color: #ddd;}
	  
	  .show {display: block;}

	p{
		margin: 10px;
		padding: 5px;
		background-color: #fff;
		cursor: pointer;
		transition: .3s linear;
	}
	p:hover{
		background-color: #EBECF0;
		box-shadow: -2px -3px 3px #dee2e6 , 2px 3px 3px #dee2e6, -2px 3px 3px #dee2e6, 2px -3px 3px #dee2e6;
	}
}

.books_info-only{
	width: 85%;


	.books_search{
		margin: 20px;
		.books_search-inp{
			padding: 10px;
		}
		.books_search-btn{
			padding: 10px;
		}
	}

	.books_inner{
		width: 100%;
	}
	

	.books_content{
		padding: 3px;
		margin: 10px 20px !important;
		background-color: #fff;
		width: 85% !important;
		height: 400px !important;
		

		.books_img{
			margin: 0 0 10px;
			width: 100%;
			height: 230px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.books_item{
			h4{
				font-size: 14px;
				padding: 5px 10px;
			}
			p{
				font-size: 12px;
				padding: 5px;
				
			}
			.books_text{
				font-size: 12px;
				padding: 5px;
				margin: 0 0 30px;
			}
			button{
			
				padding: 5px;
				border: none;
				border-radius: 15px;
				background-color: #309AAC;
				

				a{
					font-size: 14px;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}



// POGINATION
.pogination{
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.pogination_block {
	display: inline-block;
  }
  
  .pogination_block a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
  }
  
  .pogination_block a.active {
	background-color: #2980B9;
	color: white;
  }
  
  .pogination_block a:hover:not(.active) {background-color: #ddd;}

@import "./response.scss"; 