{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">

	<!-- News -->
	<div class="container">
		<div class="news_only">
			<div class="news_inner_only">
				<div class="news_item_only">
					<h1 class="news_title">Новости</h1>

					<div class="news_box-only">

						<div class="news_block-1">
							<div class="news_block-only">
								<div class="news_info-only">
										<img class="news_img-only" src="{% static 'img/news/1.jpg' %}" alt="">					
										<div class="news_index-only"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
									<div class="news_text-only">
										<p class="news_title-only">Lorem, ipsum.</p>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure assumenda nam repudiandae placeat id exercitationem officiis impedit quae unde neque.</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="news_block-2">
							
							<div class="news_several">
								<div class="news_hidden-only">
									<div class="news_in-only">
										<a href="#">
										<img class="news_img-only2" src="{% static 'img/news/1.jpg' %}" alt="">
										</a>
									</div>
									</div>
									<div class="news_text">
										<div class="news_index-only2"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
										<a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
									</div>
							</div>

							<div class="news_several">
								<div class="news_hidden-only">
									<div class="news_in-only">
										
										<img class="news_img-only2" src="{% static 'img/news/1.jpg' %}" alt="">
									</div>
									</div>
									<div class="news_text">
										<div class="news_index-only2"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
										<a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
									</div>
							</div>

							<div class="news_several">
								<div class="news_hidden-only">
									<div class="news_in-only">
										
										<img class="news_img-only2" src="{% static 'img/news/1.jpg' %}" alt="">
									</div>
									</div>
									<div class="news_text">
										<div class="news_index-only2"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
										<a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
									</div>
							</div>

							<div class="news_several">
								<div class="news_hidden-only">
									<div class="news_in-only">
										
										<img class="news_img-only2" src="{% static 'img/news/1.jpg' %}" alt="">
									</div>
									</div>
									<div class="news_text">
										<div class="news_index-only2"><i class="bi bi-eye"></i> 12 / 12-09-2022</div>
										<a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
									</div>
							</div>
						
						</div>
						
					</div>
	
				</div>
			</div>
		</div>
	</div>
	</div>

{% include 'footer.html' %}

{% endblock %}
