{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/secondStyle.css' %}">

	<!-- News -->
	<div class="container">
		<div class="news_only">
			<div class="news_inner_only">
				<div class="news_item_only">
					<h1 class="news_title">{% trans 'Новости' %}</h1>

					<div class="news_box-only">

						<div class="news_block-1">
							<div class="news_block-only">
								<div class="news_info-only">
									<div class="news_slick-slider">
										<img class="news_img-only" src="{{ post.image.url }}" alt="">
									</div>
										<div class="news_index-only"><i class="bi bi-eye"></i> {{post.news_view}} / {{post.create_date|date:"d.m.Y"}}</div>
									<div class="news_text-only">
										<p class="news_title-only">{{post.title}}</p>
										<p>{{post.text|safe}}</p>
									</div>

			{% if request.user.is_staff %}
			<div class="news_post-only">
				<a href="{% url 'delete-post' post.id %}"><img src="{% static 'img/news/bin.png' %}" alt="Delete"></a>
				<a href="{% url 'update-post' post.id %}"><img src="{% static 'img/news/pencil.png' %}" alt="Update"></a>
			</div>
			{% endif %}

								</div>
							</div>
						</div>
						
						<div class="news_block-2">

							{% for post in posts %}
							<div class="news_several">
								<div class="news_hidden-only">
									<div class="news_in-only">
										<img class="news_img-only2" src="{{post.image.url}}" alt="">
									</div>
									</div>
									<div class="news_text">
										<div class="news_index-only2"><i class="bi bi-eye"></i> {{post.news_view}}  / {{post.create_date|date:"d.m.Y"}}</div>
										<a href="{% url 'single-news' post.id %}"><p>{{post.title}}</p></a>
									</div>
							</div>

							{% endfor %}
						
						</div>
						
					</div>
	
				</div>
			</div>
		</div>

	</div>
	</div>

{% include 'footer.html' %}

{% endblock %}
